<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Nav Bar</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Template Main JS File -->
    <link th:href="@{vendor/bootstrap/js/bootstrap.bundle.min.js}" rel="stylesheet"/>

    <!-- Favicons -->
    <link th:href="@{images/DAT.png}" rel="icon">
    <link th:href="@{images/apple-touch-icon.png}" rel="apple-touch-icon">

    <link
            th:href="@{vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link th:href="@{vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"/>
    <link th:href="@{vendor/remixicon/remixicon.css}" rel="stylesheet"/>

    <!-- Template Main CSS File -->
    <link th:href="@{css/style.css}" rel="stylesheet"/>


</head>
<body>
<header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">

        <a th:href="@{/}" class="logo d-flex align-items-center">
            <img src="/images/DAT.png" alt=""/>
            <span class="d-none d-lg-block man-font ">DIR-ACE</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->

    <div class="search-bar">Project Management System</div>

    <input type="hidden">
    <!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="/notification">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->



            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown"
                   href="#" role="button" aria-expanded="false"
                >
                    <th:block th:with="photoData=${#authentication.principal.photoDataAsString}">
                        <img style="width: 35px; height: 35px; border-radius: 50%; object-fit: cover" th:if="${photoData != null}" th:src="@{'data:image/jpeg;base64,' + ${photoData}}" alt="User Photo"/>
                        <img style="width: 35px; height: 35px; border-radius: 50%; object-fit: cover" th:unless="${photoData != null}" th:src="@{/images/profile.jpg}" alt="Default Image"/>
                    </th:block>

                    <span class="d-none d-md-block dropdown-toggle ps-2" sec:authentication="principal.username"></span>
                </a>

                <th:block th:with="auth=${#authentication.getPrincipal()}">
                    <input id="userId" disabled type="hidden" th:value="${auth.id}"/>
                </th:block>

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6 sec:authentication="principal.username" id="login-user-name"></h6>
                        <span id="role" sec:authentication="principal.authorities[0]"></span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/user/profile}">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
        </ul>
    </nav>
    <!-- End Icons Navigation -->
</header>
<!-- End Header -->
<!-- Vendor JS Files -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>

</html>