<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Side Bar</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Template Main JS File -->
    <link th:href="@{vendor/bootstrap/js/bootstrap.bundle.min.js}" rel="stylesheet"/>

    <!-- Favicons -->
    <link th:href="@{images/favicon.png}" rel="icon">
    <link th:href="@{images/apple-touch-icon.png}" rel="apple-touch-icon">

    <link
            th:href="@{vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link th:href="@{vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"/>
    <link th:href="@{vendor/remixicon/remixicon.css}" rel="stylesheet"/>

    <!-- Template Main CSS File -->
    <link th:href="@{css/style.css}" rel="stylesheet"/>
</head>
<body>
<!-- ======= Sidebar ======= -->
<aside th:fragment="sidebar" id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
            <a
                    class="nav-link collapsed"
                    data-bs-target="#courses-nav"
                    data-bs-toggle="collapse"
                    href="#"
            >
                <i class="bi bi-journals"></i><span>Courses</span
            ><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul
                    id="courses-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav"
            >
                <li>
                    <a th:href="@{/course/add}">
                        <i class="bi bi-circle"></i><span>Add Course</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/course/list}">
                        <i class="bi bi-circle"></i><span>Courses List</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- End Course Nav-->

        <li class="nav-item">
            <a
                    class="nav-link collapsed"
                    data-bs-target="#students-nav"
                    data-bs-toggle="collapse"
                    href="#"
            >
                <i class="bi bi-person-vcard"></i><span>Students</span
            ><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul
                    id="students-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav"
            >
                <li>
                    <a th:href="@{/student/add}">
                        <i class="bi bi-circle"></i><span>Add Student</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/student/list}">
                        <i class="bi bi-circle"></i><span>Students List</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- End Student Nav-->

        <li class="nav-item">
            <a
                    class="nav-link collapsed"
                    data-bs-target="#users-nav"
                    data-bs-toggle="collapse"
                    href="#"
            >
                <i class="bi bi-person-video3"></i><span>Users</span
            ><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul
                    id="users-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav"
            >
                <li>
                    <a th:href="@{/user/add}">
                        <i class="bi bi-circle"></i><span>Add User</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/user/list}">
                        <i class="bi bi-circle"></i><span>Users List</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- End Student Nav-->
    </ul>
</aside>
<!-- End Sidebar-->
<!-- Vendor JS Files -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>