/* Define a variable */
/* Switch styles */
.switch {
    padding: 0.4em;
    background: #eee;
    display: inline-block;
    border-radius: 0.5em;
    font-size: 12px;
    font-weight: bold;
    user-select: none;
}

.switch.is-on .switch__control {
    background: #d71414;
}

.switch.is-on .switch__toggle {
    color: black;
    margin-left: 50%;
}

.switch--round,
.switch--round .switch__toggle,
.switch--round .switch__control {
    border-radius: 5em;
}

.switch--round .switch__control {
    width: 4em;
}

.switch--round.is-on .switch__toggle {
    color: transparent;
}

.switch__control {
    float: left;
    display: inline-block;
    width: 5em;
    height: 2.2em;
    background: #999;
    box-sizing: border-box;
    padding: 0.25em;
    border-radius: 0.333em;
    transition: 200ms;
    cursor: pointer;
}

.switch__toggle {
    line-height: 1.75;
    text-align: center;
    display: inline-block;
    width: 50%;
    height: 100%;
    background: white;
    color: transparent;
    border-radius: 0.25em;
    transition: 200ms;
    box-sizing: border-box;
    font-weight: bold;
}

.switch__label {
    line-height: 2.2;
    float: left;
    padding-right: 1em;
    padding-left: 1em;
}

.switch__label:empty {
    display: none;
}

/*!* Optional shadow *!*/
/*.switch {*/
/*    box-shadow: 0 0.1em 0.4em -0.1em rgba(0, 0, 0, 0.25);*/
/*    transition: box-shadow 200ms;*/
/*}*/

/*.switch:hover {*/
/*    box-shadow: 0 0.2em 0.66em 0px rgba(0, 10, 22, 0.25);*/
/*    background: #f5f5f5;*/
/*}*/

