<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DIR-ACE TECHNOLOGY</title>
  <!-- Favicons -->
  <link th:href="@{/images/DAT.png}" rel="icon">
  <meta content="" name="description"/>
  <meta content="" name="keywords"/>
  <!-- Bootstrap CSS for modal box -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap JS and Popper.js for Modal Box -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect"/>
  <link
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"
  />

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>


  <link
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
          rel="stylesheet"
  />
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
          integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />

  <!-- Hope Ui Design System Css -->
  <link rel="stylesheet" href="/css/hope-ui.min.css?v=4.0.0">
  <!-- Library / Plugin Css Build -->
  <link rel="stylesheet" href="/css/libs.min.css">
  <!-- Single Select -->
  <link rel="stylesheet" href="/css/single-select.css">

  <!--    icon-->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


  <!-- Custom Css -->
  <link rel="stylesheet" href="/css/custom.min.css?v=4.0.0">


  <!-- Customizer Css -->
  <link rel="stylesheet" href="/css/customizer.min.css">

  <!-- RTL Css -->
  <link rel="stylesheet" href="/css/rtl.min.css">
  <!--    selectbox-->
  <link rel="stylesheet" href="/css/multiple-select.css">
  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet"/>

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/sidebar :: #sidebar}"></div>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Create Member Account</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Create</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

    <div>
      <div class="row">
        <div class="form-control">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <div class="header-title">
                <h4 class="card-title">Create Member</h4>
              </div>
            </div>
            <div class="card-body">
              <div class="new-user-info">
                <form  id="memberForm">

                <div class="row">
                      <div class="col-md-6">
                      <div class="form-group">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"
                               required minlength="3" maxlength="25">
                        <div class="invalid-feedback" id="name_error">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                      <label for="email" class="form-label">Email</label>
                      <input type="text" class="form-control" id="email" name="email"  placeholder="example@gmail.com" required>
                      <div id="email_error" class="invalid-feedback"></div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label for="role" class="form-label">Role</label>
                      <select class="form-select"  id="userRole" name="role" required>
                        <option value="PMO" selected>PMO</option>
                        <option value="SDQC">SDQC</option>
                        <option value="DH">DH</option>
                        <option value="PM">PM</option>
                        <option value="MEMBER">Member</option>
                        <!-- Add more role options as needed -->
                      </select>
                      <div id="role_error" class="invalid-feedback">
                        Please select a valid role.
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label  class="form-label" for="department">Department</label>
                        <select class="form-select"  id="department" name="department" required>
                          <option value="1">ACE</option>
                          <option value="2">DAT</option>
                          <option value="3">Ace Plus</option>
                        </select>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="button" onclick="addNewMember()" class="btn btn-primary">Create New Member</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main><!-- End #main -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script th:src="@{/js/form-wizard.js}"></script>
<script th:src="@{/js/validation.js}"></script>

<!--<script th:src="@{/js/single-select.js}"></script>-->

<!--selectbox-->
<script src="/js/multi-select.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>






<!--Single Select-->
<!--<script>-->

<!--  const data2 = ['ACE', 'DAT', 'Ace Plus']-->
<!--  const id2 = init("department")-->
<!--  const department_wrapperUpdateName = singleSelect(id2, data2);-->

<!--</script>-->
<script>

    function addNewMember() {
      let addMember ={
        id: null,
        name: $("#name").val(),
        email: $("#email").val(),
        role: $("#userRole").val(),
        department: $("#department").val()
      };
      $.ajax({
        type: "POST",
        url: "/pm/add-users",
        contentType: "application/json",
        data: JSON.stringify(addMember),
        dataType: 'json',
        success: function (data) {
          console.log("SUCCESS: ", data);
        },
        error: function (xhr, status, error) {
          console.log("ERROR: ", xhr.responseText);
          alert('Error! Please try again.', error);
        }
      })
    }

      $.ajax({
        type: "GET",
        url: "/pm/user-list",

        success: function (data) {

        },
        error:function(xhr,status,error){
          console.log("ERROR: ", xhr.responseText);
          alert('Error! Please try again.',error);
        }

      })



</script>

</body>
</html>
