<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>DIR-ACE TECHNOLOGY</title>-->
<!--  &lt;!&ndash; Favicons &ndash;&gt;-->
<!--  <link th:href="@{/images/DAT.png}" rel="icon">-->
<!--  <meta content="" name="description"/>-->
<!--  <meta content="" name="keywords"/>-->
<!--  &lt;!&ndash; Bootstrap CSS for modal box &ndash;&gt;-->
<!--  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
<!--  &lt;!&ndash; Bootstrap JS and Popper.js for Modal Box &ndash;&gt;-->
<!--  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>-->
<!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->


<!--  &lt;!&ndash; Google Fonts &ndash;&gt;-->
<!--  <link href="https://fonts.gstatic.com" rel="preconnect"/>-->
<!--  <link-->
<!--          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"-->
<!--          rel="stylesheet"-->
<!--  />-->

<!--  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>-->


<!--  <link-->
<!--          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"-->
<!--          rel="stylesheet"-->
<!--  />-->
<!--  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>-->
<!--  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>-->

<!--  <link-->
<!--          rel="stylesheet"-->
<!--          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"-->
<!--          integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="-->
<!--          crossorigin="anonymous"-->
<!--          referrerpolicy="no-referrer"-->
<!--  />-->

<!--  &lt;!&ndash; Hope Ui Design System Css &ndash;&gt;-->
<!--  <link rel="stylesheet" href="/css/hope-ui.min.css?v=4.0.0">-->
<!--  &lt;!&ndash; Library / Plugin Css Build &ndash;&gt;-->
<!--  <link rel="stylesheet" href="/css/libs.min.css">-->
<!--  &lt;!&ndash; Single Select &ndash;&gt;-->
<!--  <link rel="stylesheet" href="/css/single-select.css">-->

<!--  &lt;!&ndash;    icon&ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">-->


<!--  &lt;!&ndash; Custom Css &ndash;&gt;-->
<!--  <link rel="stylesheet" href="/css/custom.min.css?v=4.0.0">-->


<!--  &lt;!&ndash; Customizer Css &ndash;&gt;-->
<!--  <link rel="stylesheet" href="/css/customizer.min.css">-->

<!--  &lt;!&ndash; RTL Css &ndash;&gt;-->
<!--  <link rel="stylesheet" href="/css/rtl.min.css">-->
<!--  &lt;!&ndash;    selectbox&ndash;&gt;-->
<!--  <link rel="stylesheet" href="/css/multiple-select.css">-->
<!--  &lt;!&ndash; Template Main CSS File &ndash;&gt;-->
<!--  <link href="/css/style.css" rel="stylesheet"/>-->

<!--</head>-->
<!--<body>-->
<!--<div th:replace="~{fragments/header :: header}"></div>-->
<!--<div th:replace="~{fragments/sidebar :: #sidebar}"></div>-->

<!--<main id="main" class="main">-->

<!--  <div class="pagetitle">-->
<!--    <h1>Create Member Account</h1>-->
<!--    <nav>-->
<!--      <ol class="breadcrumb">-->
<!--        <li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
<!--        <li class="breadcrumb-item">Users</li>-->
<!--        <li class="breadcrumb-item active">Create</li>-->
<!--      </ol>-->
<!--    </nav>-->
<!--  </div>&lt;!&ndash; End Page Title &ndash;&gt;-->

<!--    <div>-->
<!--      <div class="row">-->
<!--        <div class="form-control">-->
<!--          <div class="card">-->
<!--            <div class="card-header d-flex justify-content-between">-->
<!--              <div class="header-title">-->
<!--                <h4 class="card-title">Create Member</h4>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <div class="new-user-info">-->
<!--                <form  id="memberForm">-->

<!--                <div class="row">-->
<!--                      <div class="col-md-6">-->
<!--                      <div class="form-group">-->
<!--                        <label for="name" class="form-label">Name</label>-->
<!--                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"-->
<!--                               required minlength="3" maxlength="25">-->
<!--                        <div class="invalid-feedback" id="name_error">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <div class="col-md-6">-->
<!--                      <div class="form-group">-->
<!--                      <label for="email" class="form-label">Email</label>-->
<!--                      <input type="text" class="form-control" id="email" name="email"  placeholder="example@gmail.com" required>-->
<!--                      <div id="email_error" class="invalid-feedback"></div>-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <div class="col-md-6">-->
<!--                      <label for="userRole" class="form-label">Role</label>-->
<!--                      <select class="form-select"  id="userRole" name="role" required>-->
<!--                        <option value="PMO" selected>PMO</option>-->
<!--                        <option value="SDQC">SDQC</option>-->
<!--                        <option value="DH">DH</option>-->
<!--                        <option value="PM">PM</option>-->
<!--                        <option value="MEMBER">Member</option>-->
<!--                        &lt;!&ndash; Add more role options as needed &ndash;&gt;-->
<!--                      </select>-->
<!--                      <div id="role_error" class="invalid-feedback">-->
<!--                        Please select a valid role.-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <div class="col-md-6">-->
<!--                      <div class="form-group">-->
<!--                        <label  class="form-label" for="department">Department</label>-->
<!--                        <select class="form-select"  id="department" name="department" required>-->
<!--                          <option value="1">ACE</option>-->
<!--                          <option value="2">DAT</option>-->
<!--                          <option value="3">Ace Plus</option>-->
<!--                        </select>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="text-center">-->
<!--                      <button type="button"  class="btn btn-primary">Create New Member</button>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </form>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</main>&lt;!&ndash; End #main &ndash;&gt;-->
<!--<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!--&lt;!&ndash; Template Main JS File &ndash;&gt;-->
<!--<script src="/js/main.js"></script>-->
<!--<script th:src="@{/js/form-wizard.js}"></script>-->
<!--<script th:src="@{/js/validation.js}"></script>-->

<!--&lt;!&ndash;<script th:src="@{/js/single-select.js}"></script>&ndash;&gt;-->

<!--&lt;!&ndash;selectbox&ndash;&gt;-->
<!--<script src="/js/multi-select.js"></script>-->

<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->






<!--&lt;!&ndash;Single Select&ndash;&gt;-->
<!--&lt;!&ndash;<script>&ndash;&gt;-->

<!--&lt;!&ndash;  const data2 = ['ACE', 'DAT', 'Ace Plus']&ndash;&gt;-->
<!--&lt;!&ndash;  const id2 = init("department")&ndash;&gt;-->
<!--&lt;!&ndash;  const department_wrapperUpdateName = singleSelect(id2, data2);&ndash;&gt;-->

<!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--&lt;!&ndash;<script>&ndash;&gt;-->

<!--&lt;!&ndash;    function addNewMember() {&ndash;&gt;-->
<!--&lt;!&ndash;      let addMember ={&ndash;&gt;-->
<!--&lt;!&ndash;        id: null,&ndash;&gt;-->
<!--&lt;!&ndash;        name: $("#name").val(),&ndash;&gt;-->
<!--&lt;!&ndash;        email: $("#email").val(),&ndash;&gt;-->
<!--&lt;!&ndash;        role: $("#userRole").val(),&ndash;&gt;-->
<!--&lt;!&ndash;        department: $("#department").val()&ndash;&gt;-->
<!--&lt;!&ndash;      };&ndash;&gt;-->
<!--&lt;!&ndash;      $.ajax({&ndash;&gt;-->
<!--&lt;!&ndash;        type: "POST",&ndash;&gt;-->
<!--&lt;!&ndash;        url: "/pm/add-users",&ndash;&gt;-->
<!--&lt;!&ndash;        contentType: "application/json",&ndash;&gt;-->
<!--&lt;!&ndash;        data: JSON.stringify(addMember),&ndash;&gt;-->
<!--&lt;!&ndash;        dataType: 'json',&ndash;&gt;-->
<!--&lt;!&ndash;        success: function (data) {&ndash;&gt;-->
<!--&lt;!&ndash;          console.log("SUCCESS: ", data);&ndash;&gt;-->
<!--&lt;!&ndash;        },&ndash;&gt;-->
<!--&lt;!&ndash;        error: function (xhr, status, error) {&ndash;&gt;-->
<!--&lt;!&ndash;          console.log("ERROR: ", xhr.responseText);&ndash;&gt;-->
<!--&lt;!&ndash;          alert('Error! Please try again.', error);&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;      })&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->

<!--&lt;!&ndash;      $.ajax({&ndash;&gt;-->
<!--&lt;!&ndash;        type: "GET",&ndash;&gt;-->
<!--&lt;!&ndash;        url: "/pm/user-list",&ndash;&gt;-->

<!--&lt;!&ndash;        success: function (data) {&ndash;&gt;-->

<!--&lt;!&ndash;        },&ndash;&gt;-->
<!--&lt;!&ndash;        error:function(xhr,status,error){&ndash;&gt;-->
<!--&lt;!&ndash;          console.log("ERROR: ", xhr.responseText);&ndash;&gt;-->
<!--&lt;!&ndash;          alert('Error! Please try again.',error);&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;      })&ndash;&gt;-->



<!--&lt;!&ndash;</script>&ndash;&gt;-->

<!--</body>-->
<!--</html>-->
