<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DIR-ACE TECHNOLOGY</title>
    <!-- Favicons -->
    <link th:href="@{/images/DAT.png}" rel="icon">
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>


    <link
            th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>


    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="/css/hope-ui.min.css?v=4.0.0">
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="/css/libs.min.css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/custom.min.css?v=4.0.0">


    <!-- Customizer Css -->
    <link rel="stylesheet" href="/css/customizer.min.css">

    <!-- RTL Css -->
    <link rel="stylesheet" href="/css/rtl.min.css">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet"/>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
            integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/sidebar :: #sidebar}"></div>

<main id="main" class="main">
    <!-- Breadcrumb part-->
    <div class="pagetitle">
        <h1>Change Password</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">Change Password</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <div style="height: 70px;"></div>
    <!-- Main Content -->

    <div class="container-fluid content-inner mt-n5 py-0">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-none main-bg">
                    <div class="card-body shadow-none">
                        <form th:action="@{/member/change-password}" th:object="${changePasswordFormInput}" method="post" id="form-wizard1" class="row g-3 needs-validation" novalidate>
                            <div class="form-card text-start shadow-none">
                                <div class="row">
                                    <div class="col-12 text-center mb-4">
                                        <h3>Change Password:</h3>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label for="confirmPassword" class="form-label">
                                                Current Password
                                            </label>

                                            <div class="input-group">
                                                <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Enter confirm password" required minlength="8">
                                                <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i id="currentPasswordIcon" class="bi bi-eye-slash"></i>
                                                </span>
                                                </div>
                                            </div>
                                            <div class="invalid-feedback" id="currentPassword_error"></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="newPassword" class="form-label">
                                                New Password
                                            </label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter new password" required minlength="8">
                                                <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i id="newPasswordIcon" class="bi bi-eye-slash"></i>
                                                </span>
                                                </div>
                                            </div>
                                            <div class="invalid-feedback" id="newPassword_error"></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="confirmPassword" class="form-label">
                                                Confirm Password
                                            </label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Enter confirm password" required minlength="8">
                                                <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i id="confirmPasswordIcon" class="bi bi-eye-slash"></i>
                                                </span>
                                                </div>
                                            </div>
                                            <div class="invalid-feedback" id="confirmPassword_error"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 text-end mt-3">
                                    <button type="button" class="btn btn-primary" id="cancelButton">Cancel</button>
                                    <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- End Main Content-->
</main>
<!-- End #main -->

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>

<script th:src="@{/js/form-wizard.js}"></script>
<script th:src="@{/js/validation.js}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function () {
        const password_pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
        const currentPass = checkInputValidation("currentPassword", "Current Password", password_pattern);
        const newPass = checkInputValidation("newPassword", "New Password", password_pattern);
       const confirmPass = checkInputValidation("confirmPassword", "Confirm Password", password_pattern);
        // Usage
       checkPasswordsMatch(newPass, confirmPass);

        // Initialize form validatio
       formValidate("form-wizard1");



    });
</script>

<script>
    $(document).ready(function() {
        $("#currentPasswordIcon").on('click', function() {
            var passwordField = $("#currentPassword");
            var currentPasswordIcon = $("#currentPasswordIcon");
            // Toggle password visibility
            if (passwordField.attr('type') === 'password') {
                passwordField.attr('type', 'text');
                currentPasswordIcon.removeClass('bi-eye-slash').addClass('bi-eye');
            } else {
                passwordField.attr('type', 'password');
                currentPasswordIcon.removeClass('bi-eye').addClass('bi-eye-slash');
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
        $("#newPasswordIcon").on('click', function() {
            var passwordField = $("#newPassword");
            var newPasswordIcon = $("#newPasswordIcon");
            // Toggle password visibility
            if (passwordField.attr('type') === 'password') {
                passwordField.attr('type', 'text');
                newPasswordIcon.removeClass('bi-eye-slash').addClass('bi-eye');
            } else {
                passwordField.attr('type', 'password');
                newPasswordIcon.removeClass('bi-eye').addClass('bi-eye-slash');
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
        $("#confirmPasswordIcon").on('click', function() {
            var passwordField = $("#confirmPassword");
            var confirmPasswordIcon = $("#confirmPasswordIcon");
            // Toggle password visibility
            if (passwordField.attr('type') === 'password') {
                passwordField.attr('type', 'text');
                confirmPasswordIcon.removeClass('bi-eye-slash').addClass('bi-eye');
            } else {
                passwordField.attr('type', 'password');
                confirmPasswordIcon.removeClass('bi-eye').addClass('bi-eye-slash');
            }
        });
    });
</script>
</body>
</html>