<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>CHANGE PASSWORD</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"
    />

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Favicons -->
    <link th:href="@{/images/favicon.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="col-10 col-sm-8 col-md-6 col-lg-4 rounded p-4 m-auto">
            <h1 class="display-6 text-center">Change Password</h1>
            <form action="/change-password" method="post" onsubmit="return validatePassword()">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Old Password" onblur="checkInputValidation('oldPassword', 'Old Password', /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}$/);" />
                            <label id="password-labelOld" for="oldPassword" class="form-label d-flex align-items-center">
                                <i class="bx bx-lock-alt me-2"></i>Old Password
                            </label>
                        </div>
                        <button class="btn btn-outline-secondary" type="button" id="passwordToggleOld">
                            <i id="passwordIconOld" class="bi bi-eye-slash"></i>
                        </button>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" name="password" placeholder="New Password" onblur="checkInputValidation('password', 'New Password', /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}$/);" />
                            <label id="password-label" for="password" class="form-label d-flex align-items-center">
                                <i class="bx bx-lock-alt me-2"></i>New Password
                            </label>
                        </div>
                        <button class="btn btn-outline-secondary" type="button" id="passwordToggle">
                            <i id="passwordIcon" class="bi bi-eye-slash"></i>
                        </button>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm New Password" onblur="checkInputValidation('confirmPassword', 'Confirm New Password', /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}$/);" />
                            <label id="password-label2" for="confirmPassword" class="form-label d-flex align-items-center">
                                <i class="bx bx-lock-alt me-2"></i>Confirm New Password
                            </label>
                        </div>
                        <button class="btn btn-outline-secondary" type="button" id="passwordToggle2">
                            <i id="passwordIcon2" class="bi bi-eye-slash"></i>
                        </button>
                    </div>
                </div>

<body>
<!-- ======= Header ======= -->
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/sidebar :: #sidebar}"></div>

<main id="main" class="main">
    <!-- Breadcrumb part-->
    <div class="pagetitle">
        <h1>Change Password</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">Change Password</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <div style="height: 70px;"></div>
    <!-- Main Content -->

    <div class="container-fluid content-inner mt-n5 py-0">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-none main-bg">
                    <div class="card-body shadow-none">
                        <form th:action="@{/change-password}" th:object="${changePasswordFormInput}" method="post" id="form-wizard1" class="row g-3 needs-validation" novalidate>
                            <div class="form-card text-start shadow-none">
                                <div class="row">
                                    <div class="col-12 text-center mb-4">
                                        <h3>Change Password:</h3>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label for="confirmPassword" class="form-label">
                                                Current Password
                                            </label>

                                            <div class="input-group">
                                                <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Enter confirm password" required minlength="8">
                                                <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i id="currentPasswordIcon" class="bi bi-eye-slash"></i>
                                                </span>
                                                </div>
                                            </div>
                                            <div class="invalid-feedback" id="currentPassword_error"></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="newPassword" class="form-label">
                                                New Password
                                            </label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter new password" required minlength="8">
                                                <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i id="newPasswordIcon" class="bi bi-eye-slash"></i>
                                                </span>
                                                </div>
                                            </div>
                                            <div class="invalid-feedback" id="newPassword_error"></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="confirmPassword" class="form-label">
                                                Confirm Password
                                            </label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Enter confirm password" required minlength="8">
                                                <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i id="confirmPasswordIcon" class="bi bi-eye-slash"></i>
                                                </span>
                                                </div>
                                            </div>
                                            <div class="invalid-feedback" id="confirmPassword_error"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 text-end mt-3">
                                    <button type="button" class="btn btn-primary" id="cancelButton">Cancel</button>
                                    <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </form>

            <!-- ... (your existing error message) ... -->
        </div>
    </div>
</div>

<!-- Vendor JS Files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>

<script>
    // Password toggle logic for Old Password
    const passwordToggleOld = document.getElementById('passwordToggleOld');
    const passwordInputOld = document.getElementById('oldPassword');
    const passwordIconOld = document.getElementById('passwordIconOld');

    passwordToggleOld.addEventListener('click', function () {
        togglePasswordVisibility(passwordInputOld, passwordIconOld);
    });

    // Password toggle logic for New Password
    const passwordToggle = document.getElementById('passwordToggle');
    const passwordInput = document.getElementById('password');
    const passwordIcon = document.getElementById('passwordIcon');

    passwordToggle.addEventListener('click', function () {
        togglePasswordVisibility(passwordInput, passwordIcon);
    });

    // Password toggle logic for Confirm Password
    const passwordToggle2 = document.getElementById('passwordToggle2');
    const passwordInput2 = document.getElementById('confirmPassword');
    const passwordIcon2 = document.getElementById('passwordIcon2');

    passwordToggle2.addEventListener('click', function () {
        togglePasswordVisibility(passwordInput2, passwordIcon2);
    });

    function togglePasswordVisibility(inputField, icon) {
        if (inputField.type === 'password') {
            inputField.type = 'text';
            icon.classList.remove('bi-eye-slash');
            icon.classList.add('bi-eye');
        } else {
            inputField.type = 'password';
            icon.classList.remove('bi-eye');
            icon.classList.add('bi-eye-slash');
        }
    }
</script>

<!-- Password Validation -->
<script>
    function validatePassword() {
        var newPassword = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        if (newPassword !== confirmPassword) {
            alert("New Password and Confirm Password don't match");
            return false;
        }
        return true;
    }
</script>

</body>
</html>
