<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DIR-ACE TECHNOLOGY</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"/>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Favicons -->
    <link th:href="@{/images/DAT.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">
    <link
            th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/hope.css">
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="/css/libs.min.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/custom.min.css?v=4.0.0">
    <!-- Customizer Css -->
    <link rel="stylesheet" href="/css/customizer.min.css">
    <!-- Modal Css -->
    <link rel="stylesheet" href="/css/modal.css">
    <!-- RTL Css -->
    <link rel="stylesheet" href="/css/rtl.min.css">
    <!-- Bootstrap CSS for modal box -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
    />
    <style>
        .iti--separate-dial-code {
            width: 100% !important;
        }
    </style>
    <style>
        body {
            background: #f8f9fa;
        }

        th.sorting{
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<!-- ======= Header ======= -->
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/sidebar :: #sidebar}"></div>
<main id="main" class="main" style="padding: 20px">
    <!-- Main Content -->
    <div class="container-fluid content-inner py-0">
        <div class="row">
            <div class="col-sm-12 col-lg-12 mb-3">
                <div class="container-fluid d-flex justify-content-between mb-3 bg-white p-3 rounded-2 shadow">
                    <span class="display-6 fs-3 fw-bold">Clients</span>
                    <button id="addClientButton"
                            class="btn btn-sm rounded-2 btn-primary d-flex justify-content-center align-items-center">
                        <i class="bi bi-plus-circle"></i>&nbsp<span class="fs-6">New</span>
                    </button>
                </div>
                <div class="table-responsive ps-3 pe-3">
                    <table class="display table-sm" style="width:100%;" id="client">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="col-sm-12 col-lg-12 mb-3">

                <div class="container-fluid d-flex justify-content-between mb-3 bg-white p-3 rounded-2 shadow">
                    <span class="display-6 fs-3 fw-bold">Deliverables Methods</span>
                    <button id="addDeliverablesButton"
                            class="btn btn-sm rounded-2 btn-primary d-flex justify-content-center align-items-center">
                        <i class="bi bi-plus-circle"></i>&nbsp<span class="fs-6">New</span>
                    </button>
                </div>

                <div class="table-responsive ps-3 pe-3">
                    <table class="display table-sm" style="width:100%;" id="deliverable">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                    </table>

                </div>

            </div>

            <div class="col-sm-12 col-lg-12 mb-3">

                    <div class="container-fluid d-flex justify-content-between mb-3 bg-white p-3 rounded-2 shadow">
                        <span class="display-6 fs-3 fw-bold">Architecture Outlines</span>
                        <button id="addArchitectureButton"
                                class="btn btn-sm rounded-2 btn-primary d-flex justify-content-center align-items-center">
                            <i class="bi bi-plus-circle"></i>&nbsp<span class="fs-6">New</span>
                        </button>
                    </div>
                <div class="table-responsive ps-3 pe-3">
                        <table class="display table-sm" style="width:100%;" id="architecture">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
            </div>

            <div class="col-sm-12 col-lg-12 mb-3">
                <div class="container-fluid d-flex justify-content-between mb-3 bg-white p-3 rounded-2 shadow">
                    <span class="display-6 fs-3 fw-bold">System Outlines</span>
                    <button id="addSystemOutlineButton"
                            class="btn btn-sm rounded-2 btn-primary d-flex justify-content-center align-items-center">
                        <i class="bi bi-plus-circle"></i>&nbsp<span class="fs-6">New</span>
                    </button>
                </div>

                <div class="table-responsive ps-3 pe-3">

                        <table class="display table-sm" style="width:100%;"
                               id="systemOutline">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                        </table>

                    </div>
            </div>

        </div>
    </div>
    <!-- End Main Content-->
    <div id="toastPlace"></div>
</main>
<!-- End #main -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<!-- Bootstrap JS and Popper.js for Modal Box -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="modal fade" id="addDeliverablesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Add New Deliverable</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <div class="container" style="padding: 10px 15px 0 15px;">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="deliverablesName" name="name" required
                               placeholder="Enter new deliverables method">
                        <span id="addDeliverablesNameError" class="text-danger"></span>
                    </div>
                </form>
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                            data-bs-dismiss="modal">
                        <i class="bi bi-x-circle"></i>&nbsp;Close
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary rounded" id="saveNewDeliverable"
                            style="padding: 10px 15px">
                        <i class="bi bi-plus-circle"></i>&nbsp;Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editDeliverableModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Update Deliverable</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <div class="container" style="padding: 10px 15px 0 15px;">
                <form>
                    <div class="form-group">
                        <input type="hidden" id="editDeliverableId" name="id">
                        <input type="text" class="form-control" id="editDeliverableName" name="name" required
                               placeholder="Enter new deliverables method">
                        <span id="editDeliverableNameError" class="text-danger "></span>
                    </div>
                </form>
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                            data-bs-dismiss="modal">
                        <i class="bi bi-x-circle"></i>&nbsp;Close
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary rounded" id="editDeliverable"
                            style="padding: 10px 15px">
                        <i class="bi bi-plus-circle"></i>&nbsp;Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addClientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Add New Client</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <div class="container" style="padding: 10px 15px 0 15px;">
                <span id="addClientError" class="text-danger "></span>
                <form id="addClientForm">
                    <div class="form-group">
                        <label for="clientName" class="form-label">Client Name</label>
                        <input type="text" class="form-control" id="clientName" name="name" required
                               placeholder="Enter client name" autocomplete="off">
                        <span id="addClientNameError" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="clientEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="clientEmail" required autocomplete="off"
                               placeholder="Enter email">
                        <span id="addClientEmailError" class="text-danger "></span>
                    </div>
                    <div class="form-group">
                        <label for="clientPhoneNumber" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control iti" id="clientPhoneNumber" name="phoneNumber" required
                               placeholder="Enter phone number" autocomplete="off">
                        <span id="addClientPhError" class="text-danger "></span>
                    </div>
                </form>
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                            data-bs-dismiss="modal">
                        <i class="bi bi-x-circle"></i>&nbsp;Close
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary rounded" id="saveNewClient"
                            style="padding: 10px 15px">
                        <i class="bi bi-plus-circle"></i>&nbsp;Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="editClientModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Edit Client</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <div class="container" style="padding: 10px 15px 0 15px;">
                <span id="editClientSameNameError" class="text-danger "></span>
                <form id="editClientForm">
                    <div class="form-group">
                        <input type="hidden" id="editClientId" name="id">
                        <label for="editClientName" class="form-label">Client Name</label>
                        <input type="text" class="form-control" id="editClientName" name="name" required
                               placeholder="Enter client name" autocomplete="off">
                        <span id="editClientNameError" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="editClientEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="editClientEmail" name="email" required
                               placeholder="Enter email" autocomplete="off">
                        <span id="editClientEmailError"
                              class="text-danger "></span>
                    </div>
                    <div class="form-group">
                        <label for="editClientPhoneNumber" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control iti" id="editClientPhoneNumber" name="phoneNumber"
                               required
                               placeholder="Enter phone number" autocomplete="off">
                        <span id="editClientPhError" class="text-danger"></span>
                    </div>
                </form>
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                            data-bs-dismiss="modal">
                        <i class="bi bi-x-circle"></i>&nbsp;Close
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary rounded" id="editClient"
                            style="padding: 10px 15px">
                        <i class="bi bi-plus-circle"></i>&nbsp;Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmationClientModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Confirmation</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <div style="align-items: center; padding: 15px">
                Are you sure you want to <span id="confirmationClientAction"></span> this client?
                <div id="confirmationClientMessage"></div>
            </div>
            <div class="d-flex justify-content-end mb-2">
                <a class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                   data-bs-dismiss="modal">
                    Cancel
                </a>
                <button type="submit" class="btn btn-sm btn-primary rounded" id="confirmClientButton"
                        style="margin-right: 15px; padding: 10px 15px">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmationDeliverableModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Confirmation</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <div style="align-items: center; padding: 15px">
                Are you sure you want to <span id="confirmationDeliverableAction"></span> this deliverable?
                <div id="confirmationDeliverableMessage"></div>
            </div>
            <div class="d-flex justify-content-end mb-2">
                <a class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                   data-bs-dismiss="modal">
                    Cancel
                </a>
                <button type="submit" class="btn btn-sm btn-primary rounded" id="confirmDeliverableButton"
                        style="margin-right: 15px; padding: 10px 15px">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmationArchitectureModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Confirmation!</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <div style="align-items: center; padding: 15px">
                Are you sure you want to <span id="confirmationArchitectureAction"></span> this architecture outline?
                <div id="confirmationArchitectureMessage"></div>
            </div>
            <div class="d-flex justify-content-end mb-2">
                <a class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                   data-bs-dismiss="modal">
                    Cancel
                </a>
                <button type="submit" class="btn btn-sm btn-primary rounded" id="confirmArchitectureButton"
                        style="margin-right: 15px; padding: 10px 15px">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmationSystemOutlineModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Confirmation!</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <div style="align-items: center; padding: 15px">
                Are you sure you want to <span id="confirmationSystemOutlineAction"></span> this system outline?
                <div id="confirmationSystemOutlineMessage"></div>
            </div>
            <div class="d-flex justify-content-end mb-2">
                <a class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                   data-bs-dismiss="modal">
                    Cancel
                </a>
                <button type="submit" class="btn btn-sm btn-primary rounded" id="confirmSystemOutlineButton"
                        style="margin-right: 15px; padding: 10px 15px">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addSystemOutlineModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Add System Outline</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <div class="container" style="padding: 10px 15px 0 15px;">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="OutlineName" name="name" required
                               placeholder="Enter outline name">
                        <span id="addSystemOutlineNameError" class="text-danger "></span>
                    </div>
                </form>
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                            data-bs-dismiss="modal">
                        <i class="bi bi-x-circle"></i>&nbsp;Close
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary rounded" id="saveNewSystemOutline"
                            style="padding: 10px 15px">
                        <i class="bi bi-plus-circle"></i>&nbsp;Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editSystemOutlineModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Edit System Outline</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <div class="container" style="padding: 10px 15px 0 15px;">
                <form>
                    <div class="form-group">
                        <input type="hidden" id="editOutlineId" name="id">
                        <input type="text" class="form-control" id="editOutlineName" name="name" required
                               placeholder="Enter outline name">
                        <span id="editSystemOutlineNameError" class="text-danger "></span>

                    </div>
                </form>
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                            data-bs-dismiss="modal">
                        <i class="bi bi-x-circle"></i>&nbsp;Close
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary rounded" id="editOutline"
                            style="padding: 10px 15px">
                        <i class="bi bi-plus-circle"></i>&nbsp;Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addArchitectureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Add New Architecture Outline</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <div class="container" style="padding: 10px 15px 0 15px;">
                <form>
                    <span id="addArchitectureSameNameError" class="text-danger "></span>
                    <div class="form-group">
                        <label for="architectureName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="architectureName" name="name"
                               placeholder="Enter architecture outline name" required>
                        <span id="addArchitectureNameError" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="architectureType">Type</label>
                        <select class="form-control" id="architectureType" required>
                            <option value="IDE">IDE</option>
                            <option value="FRAMEWORK">Framework</option>
                            <option value="LIBRARY">Library</option>
                            <option value="PROGRAMMING_LANGUAGE">Programming Language</option>
                            <option value="SCRIPT_LANGUAGE">Script Language</option>
                            <option value="MARKUP_LANGUAGE">Markup Language</option>
                            <option value="DATABASE">Database</option>
                            <option value="VCS">Version Control System</option>
                            <option value="API">API</option>
                            <option value="TESTING">Testing</option>
                            <option value="ALGORITHM">Algorithm</option>
                            <option value="DESIGN_PATTERN">Design Pattern</option>
                            <option value="CLOUD_COMPUTING">Cloud Computing</option>
                            <option value="CONTINUOUS_INTEGRATION">Continuous Integration</option>
                            <option value="CONTINUOUS_DEPLOYMENT">Continuous Deployment</option>
                            <option value="CONTINUOUS_DELIVERY">Continuous Delivery</option>
                            <option value="OTHER">Other</option>
                        </select>
                        <span id="addArchitectureTypeError" class="text-danger "></span>
                    </div>
                </form>
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                            data-bs-dismiss="modal">
                        <i class="bi bi-x-circle"></i>&nbsp;Close
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary rounded" id="saveNewArchitecture"
                            style="padding: 10px 15px">
                        <i class="bi bi-plus-circle"></i>&nbsp;Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editArchitectureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Edit Architecture Outline</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <div class="container" style="padding: 10px 15px 0 15px;">
                <form>
                    <span id="editArchitectureSameNameError"
                          class="text-danger "></span>
                    <input type="hidden" id="editArchitectureId" name="id">
                    <div class="form-group">
                        <label for="architectureName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="editArchitectureName" name="name"
                               placeholder="Enter architecture outline name" required>
                        <span id="editArchitectureNameError"
                              class="text-danger "></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="editArchitectureType">Type</label>
                        <select class="form-control" id="editArchitectureType" required>
                            <option value="IDE">IDE</option>
                            <option value="FRAMEWORK">Framework</option>
                            <option value="LIBRARY">Library</option>
                            <option value="PROGRAMMING_LANGUAGE">Programming Language</option>
                            <option value="SCRIPT_LANGUAGE">Script Language</option>
                            <option value="MARKUP_LANGUAGE">Markup Language</option>
                            <option value="DATABASE">Database</option>
                            <option value="VCS">Version Control System</option>
                            <option value="API">API</option>
                            <option value="TESTING">Testing</option>
                            <option value="ALGORITHM">Algorithm</option>
                            <option value="DESIGN_PATTERN">Design Pattern</option>
                            <option value="CLOUD_COMPUTING">Cloud Computing</option>
                            <option value="CONTINUOUS_INTEGRATION">Continuous Integration</option>
                            <option value="CONTINUOUS_DEPLOYMENT">Continuous Deployment</option>
                            <option value="CONTINUOUS_DELIVERY">Continuous Delivery</option>
                            <option value="OTHER">Other</option>
                        </select>
                        <span id="editArchitectureTypeError"
                              class="text-danger "></span>
                    </div>
                </form>
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                            data-bs-dismiss="modal">
                        <i class="bi bi-x-circle"></i>&nbsp;Close
                    </button>
                    <button type="submit" class="btn btn-sm btn-primary rounded" id="editArchitecture"
                            style="padding: 10px 15px">
                        <i class="bi bi-plus-circle"></i>&nbsp;Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

<!--<script src="/js/validation.js"></script>-->
<script src="/js/contract-info-script.js"></script>

<script src="/js/contract-info-validation.js"></script>
<script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
<script src="/js/notification.js"></script>
<script src="/js/init-notification.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script>
    const phoneInputField1 = document.querySelector("#clientPhoneNumber");
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        separateDialCode: true,
        preferredCountries: ["us", "gb", "fr", "de", "es"],
        autoHideDialCode: false,
        initialCountry: "MM",  // Set Myanmar as the initial country
        geoIpLookup: function (callback) {
        },
    });
</script>
</body>
</html>