<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <link href="/css/single-select.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"/>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Favicons -->
    <link th:href="@{/images/favicon.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">
    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
          integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- Template Main CSS File -->
    <!--    multi-select css link-->
    <link rel="stylesheet" href="/css/multi-selection.css">
    <!-- Quill text -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/quilltext.css">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>

    <link href="/css/style.css" rel="stylesheet"/>

</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/sidebar :: #sidebar"></div>

<!-- Start #main -->
<main id="main" class="main">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/issue1}">Issue</a></li>
            <li class="breadcrumb-item active">Create Issue</li>
        </ol>
    </nav>
    <!-- End Page Title -->
    <div class="card" style="border-radius: 10px;">
        <div class="card-body" style="padding: 20px;">
            <div class="container">


            <h3><i class="bi bi-pencil-square"></i> Create Issue</h3>
            <br>
            <div th:name="issue_title" th:id="issue_title"></div>
            <div th:name="issue_content" th:id="issue_content"></div>
            <form th:action="@{/save}" method="post" th:object="${model}">
                <div class="container d-flex flex-column flex-md-row gap-2">
                    <div class="flex-1">
                        <div>
                            <label for="issue_id">Issue Id</label>
                            <input class="form-control" th:type="text" th:name="issue_id" th:id="issue_id" th:required="true"/>
                        </div>
                    </div>
                    <div class="flex-1">
                        <div>
                            <label>Title</label>
                            <input class="form-control" th:type="text" th:name="title" th:id="title" th:required="true"/>
                        </div>
                    </div>
                    <div class="flex-1">
                        <div>
                            <label>Date</label>
                            <input class="form-control" th:type="text" th:name="date" th:id="datepicker1" th:required="true"/>
                        </div>
                    </div>
                </div>
                <br>
                <!--combobox start-->

                <div class="container d-flex flex-column flex-md-row gap-2">
                    <div class="flex-1">
                        <div>
                            <label for="issue_category">Category</label>
                        </div>
                        <div>
                            <select id="issue_category" th:name="issue_category" multiple>
                                <option value="communication">Communication</option>
                                <option value="programming">Programming</option>
                            </select>
                        </div>
                    </div>

                    <div class="flex-1">
                        <div>
                            <label for="issue_place">Issue Place</label>
                        </div>
                        <div id="issue_place" class="w-100"></div>
                    </div>

                    <div class="flex-1">
                        <div>
                            <label for="issue_pic">Issue PIC</label>
                        </div>
                        <div id="issue_pic"></div>
                    </div>
                </div>
                <br>

                <!-- combo-box end -->

                <div class="container">
                    <div>
                        <label for="content">Content</label>
                    </div>
                    <div id="content"></div>
                    <br>
                    <div>
                        <label for="res-party">Responsible Party</label>
                    </div>
                    <div id="res-party"></div>
                    <br>
                    <div>
                        <label for="dir-cause">Direct Cause</label>
                    </div>
                    <div id="dir-cause"></div>
                    <br>
                    <div>
                        <label for="root-cause">Root Cause</label>
                    </div>
                    <div id="root-cause"></div>
                    <br>
                    <input type="hidden" name="content" id="contentInput">
                    <input type="hidden" name="res_party" id="resPartyInput">
                    <input type="hidden" name="dir_cause" id="dirCauseInput">
                    <input type="hidden" name="root_cause" id="rootCauseInput">
                </div>
                <div style="text-align:right;">
                    <a th:href="@{/display_issue}" class="btn btn-primary">Create</a>
                </div>
            </form>
        </div>
    </div>
    </div>
    <!-- End Card -->
</main>
<!-- End #main -->

<!-- Vendor JS Files -->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/multi-select.js"></script>
<!-- Jquery for combo box -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script th:src="@{/js/single-select.js}"></script>
<script th:src="@{/js/text-editor.js}"></script>

<script>
    let quillContent = new Quill("#content", aa);
    let quillResParty = new Quill("#res-party", aa);
    let quillDirCause = new Quill("#dir-cause", aa);
    let quillRootCause = new Quill("#root-cause", aa);

    // Function to update hidden input fields with Quill content
    function updateHiddenInputs() {
        document.getElementById('contentInput').value = quillContent.root.innerHTML;
        document.getElementById('resPartyInput').value = quillResParty.root.innerHTML;
        document.getElementById('dirCauseInput').value = quillDirCause.root.innerHTML;
        document.getElementById('rootCauseInput').value = quillRootCause.root.innerHTML;
    }




    //document element ready
    document.addEventListener('DOMContentLoaded', function () {
        const containers = document.querySelectorAll('.ql-container');
        containers.forEach(item => {
            item.classList.add('round-full-border');
        });
        toggleToolbar(0, 'content');
        toggleToolbar(1, 'res-party');
        toggleToolbar(2, 'dir-cause');
        toggleToolbar(3, 'root-cause');

    })
</script>
<script>
    $(document).ready(function () {
        $("#datepicker1").datepicker({
            dateFormat: "dd/mm/yy",
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true,
        })
    });
</script>
<script>
    new MultiSelectTag('issue_category')
</script>
<script>
    const data1 = ['mgmg', 'aungaung', 'tuntun']
    const data2 = ['ayeaye', 'myamya', 'hlahla']
    const id1 = init("issue_place")
    const id2 = init("issue_pic")
    console.log(id1, id2)
    const issue_place_wrapperUpdateName = singleSelect(id1, data1);
    const issue_pic_wrapperUpdateName = singleSelect(id2, data2);
</script>
</body>
</html>
