<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>DIR-ACE TECHNOLOGY</title>
  <!-- Favicons -->
  <link th:href="@{/images/DAT.png}" rel="icon">
  <meta content="" name="description"/>
  <meta content="" name="keywords"/>

  <!-- Bootstrap JS and Popper.js for Modal Box -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Bootstrap JS and Popper.js for Modal Box End -->

  <link href="/css/single-select.css" rel="stylesheet"/>
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet"/>

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- Favicons -->
  <link th:href="@{/images/favicon.png}" rel="icon">
  <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">
  <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
        integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!-- Quill text -->
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link href="https://cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/quilltext.css">

  <!-- multi-select css link -->
  <link rel="stylesheet" href="/css/multiple-select.css">

  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <link rel="stylesheet" href="/css/hope.css">
  <link href="/css/style.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/select2.css">


  <style>
    .card .card-header {
      background: linear-gradient(to right, #0074cc, #999);
      color: #fff;
      border-radius: 20px 20px 0 0;
    }

    .card .card-header h3 {
      color: #fff;
      margin: 10px;
    }
  </style>
  <style>
    .card-body {
      background: white;
    }
  </style>
  <style>
    .select2-container--default .select2-selection--multiple {
      height: 100%;
      line-height: 30px;
    }
  </style>

  <style>
    .modal {
      --bs-modal-width: 500px;
    }
    .btn-icon {
      height: 40px;
    }
  </style>
</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/sidebar :: #sidebar}"></div>

<!-- Start #main -->
<main id="main" class="main">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
      <li class="breadcrumb-item active">Create Project</li>
    </ol>
  </nav>
  <!-- End Page Title -->
  <div class="card" style="border-radius: 20px;">
    <div class="card-header">
      <h3><i class="bi bi-pencil-square"></i> Create Project</h3>
    </div>
    <div class="card-body" style="padding: 30px; border-radius: 0 0 20px 20px">

      <form th:action="@{/pm/create-proj}" method="post" th:object="${projectFormInput}"
            id="create-project">
        <input type="hidden" name="projectId" value="USR001"/>
        <div class="container d-flex flex-column gap-2">
          <div class= "d-flex gap-3">

            <div class="d-flex flex-column w-100 p-0">
              <label for="title" class="form-label">Name</label>
              <input class="form-control" type="text" name="title" id="title"
                     placeholder="Enter Project Name"/>
              <span class="text-danger" id="titleError">Enter Project Name</span>
            </div>

            <div class="d-flex flex-column w-100 p-0">
              <label for="department">Department</label>
              <select class="js-example-basic-single select-box2 form-select"
                      id="department" style="width: 100%; height: 100%;">
                <option value="default" selected disabled>Choose Department</option>
              </select>
              <span class="text-danger" id="departmentError">Department must be selected.</span>
            </div>

          </div>

          <div class="d-flex gap-3">
            <div class="d-flex flex-column w-100 p-0">
              <label for="member">Add Member</label>
              <select id="member" multiple="multiple" style="width: 100%; height: 100%;"></select>

              <div class="replace" style="height: 100%;"></div>
            </div>


            <div class="d-flex flex-column w-100 p-0">
              <label for="foc">Add FOC Member</label>
              <select id="foc" multiple="multiple" style="width: 100%; height: 100%;"></select>

              <div class="replace" style="height: 100%;"></div>
            </div>
          </div>
          <div class="d-flex gap-3">
            <div class="d-flex flex-column w-50 p-0">
                <label for="start-date" class="form-label d-block">Start Date</label>
                <input class="datepicker-style form-control" type="text" id="start-date" placeholder="Enter start date"/>
                <div class="invalid-feedback" id="start-date_error"></div>
            </div>

            <div class="d-flex flex-column w-50 p-0">
                <label for="end-date" class="form-label d-block">End Date</label>
                <input class="datepicker-style form-control" type="text" id="end-date" placeholder="Enter end date"/>
                <div class="invalid-feedback" id="end-date_error"></div>
            </div>
          </div>
          <div class="d-flex gap-3">
            <div class="d-flex flex-column w-100 p-0">
              <label for="ao">Architecture Outlines</label>
              <div class="d-flex gap-2 w-100 p-0">
              <select id="ao" multiple="multiple" style="width: 100%; height: 100%;"></select>
                <a id="addArchitectureButton" class="icon-add-btn" data-toggle="modal" data-target="#addArchitectureModal">
                  <i class='bx bx-plus m-0 p-0'></i>
                </a>
              </div>

              <div class="replace" style="height: 100%;"></div>
            </div>


            <div class="d-flex flex-column w-100 p-0">
              <label for="so">System Outlines</label>
              <div class="d-flex gap-2 w-100 p-0">
              <select id="so" multiple="multiple" style="width: 100%; height: 100%;"></select>
                <a id="addSystemOutlineButton" class="icon-add-btn" data-toggle="modal" data-target="#addSystemOutlineModal">
                  <i class='bx bx-plus m-0 p-0'></i>
                </a>
              </div>

              <div class="replace" style="height: 100%;"></div>
            </div>
          </div>
          <div class="d-flex gap-3">
            <!-- Left Set -->
            <div class="d-flex flex-column w-100 p-0 gap-2 w-100">
              <label for="client" class="mb-0">Client</label>
              <div class="d-flex gap-2 w-100 p-0">
                <!-- First Select Box with Default Value -->
                <select class="js-example-basic-single select-box form-select"
                        id="client" style="width: 100%; height: 100%;">
                  <option value="default" selected disabled>Select Client</option>
                  <!-- Add more options as needed -->
                </select>
                <a id="addClientButton" class="icon-add-btn" data-toggle="modal" data-target="#addClientModal">
                  <i class='bx bx-plus m-0 p-0'></i>
                </a>
              </div>
              <span class="text-danger" id="clientError">You must choose a Client</span>
            </div>

            <div class="d-flex flex-column w-100 p-0">
              <label for="deli">Choose Deliverables</label>
              <div class="d-flex gap-2 w-100 p-0">
              <select id="deli" multiple="multiple" style="width: 100%; height: 100%;"></select>
                <a id="addDeliverablesButton" class="icon-add-btn" data-toggle="modal" data-target="#addDeliverablesModal">
                  <i class='bx bx-plus m-0 p-0'></i>
                </a>
              </div>

              <div class="replace" style="height: 100%;"></div>
            </div>


          </div>


          <div>
            <label for="objective" class="form-label">Objective</label>
            <div id="objective"></div>
            <span class="text-danger" id="objectiveError">Objective must not be empty!</span>
          </div>

          <div>
            <label for="background">Background</label>
            <div id="background"></div>
            <span class="text-danger" id="backgroundError">Background must not be empty!</span>
          </div>
          <div class="align-self-end">
            <input type="reset" class="btn btn-danger" value="Reset" onclick="clean()">
            <input type="submit" id="submitButton" class="btn btn-primary" value="Create Project">
          </div>
        </div>
        <!--  Hidden Items    -->
        <input type="hidden" name="member" id="memberInput">
        <input type="hidden" name="objective" id="objectiveInput">
        <input type="hidden" name="background" id="backgroundInput">
      <input type="hidden" name="foc" id="focInput">

        <!-- Hidden Items End -->
      </form>
    </div>
  </div>

  <!-- Add Client Modal -->
  <div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-labelledby="addClientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addClientModalLabel">Add New Client</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">&times;</span>-->
          </button>
        </div>
        <div class="modal-body">
          <!-- Form for adding a new client -->
          <form class="mt-4">
            <div class="form-group">
              <label for="clientName" class="form-label">Client Name</label>
              <input type="text" class="form-control" id="clientName" name="name" required placeholder="Enter client name">
            </div>
            <div class="form-group">
              <label for="clientEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="clientEmail" name="email" required placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="clientPhoneNumber" class="form-label">Phone Number</label>
              <input type="tel" class="form-control" id="clientPhoneNumber" name="phoneNumber" required placeholder="Enter phone number">
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="$.fn.addClient()" class="btn btn-primary" data-dismiss="modal">Add Client</button>

          </form>
        </div>
      </div>
    </div>
  </div>

  <!--Add Architecture Outline-->
  <div class="modal fade" id="addArchitectureModal" tabindex="-1" role="dialog" aria-labelledby="addArchitectureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addArchitectureModalLabel">Add New Architecture Outline</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="mt-4">
            <div class="form-group">
              <label for="architectureName" class="form-label">Name</label>
              <input type="text" class="form-control" id="architectureName" name="name" placeholder="Enter architecture outline name" required>
            </div>

            <div class="form-group">
              <label class="form-label" for="architectureType">Type</label>
              <select class="form-control" id="architectureType" required>
                <option value="IDE">IDE</option>
                <option value="FRAMEWORK">Framework</option>
                <option value="LIBRARY">Library</option>
                <option value="PROGRAMMING_LANGUAGE">Programming Language</option>
                <option value="SCRIPT_LANGUAGE">Script Language</option>
                <option value="MARKUP_LANGUAGE">Markup Language</option>
                <option value="DATABASE">Database</option>
                <option value="VCS">Version Control System</option>
                <option value="API">API</option>
                <option value="TESTING">Testing</option>
                <option value="ALGORITHM">Algorithm</option>
                <option value="DESIGN_PATTERN">Design Pattern</option>
                <option value="CLOUD_COMPUTING">Cloud Computing</option>
                <option value="CONTINUOUS_INTEGRATION">Continuous Integration</option>
                <option value="CONTINUOUS_DEPLOYMENT">Continuous Deployment</option>
                <option value="CONTINUOUS_DELIVERY">Continuous Delivery</option>
                <option value="OTHER">Other</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="$.fn.addArchitecture()" data-dismiss="modal">Add Architecture</button>
        </div>
      </div>
    </div>
  </div>

  <!--Add System Outline-->
  <div class="modal fade" id="addSystemOutlineModal" tabindex="-1" role="dialog" aria-labelledby="addSystemOutlineModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSystemOutlineModalLabel">Add System Outline</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <!--          <span aria-hidden="true">&times;</span>-->
          </button>
        </div>
        <div class="modal-body">
          <!-- Add your form for adding a new system outline here -->
          <!-- Example form fields: -->
          <form  class="mt-4">
            <div class="form-group">
              <label for="OutlineName" class="form-label">System Outline Name</label>
              <input type="text" class="form-control" id="OutlineName" name="name" required>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="$.fn.addSystemOutline()" class="btn btn-primary" data-dismiss="modal">Add Outline</button>
          </form>
          <!-- Add Bootstrap classes to the form elements for better styling -->
        </div>
      </div>
    </div>
  </div>

  <!--Add Deliverables-->
  <div class="modal fade" id="addDeliverablesModal" tabindex="-1" role="dialog" aria-labelledby="addDeliverablesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addDeliverablesModalLabel">Add New Deliverables</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">&times;</span>-->
          </button>
        </div>
        <div class="modal-body">
          <form class="mt-4">
            <div class="form-group">
              <label for="deliverablesName" class="form-label">Deliverable Method</label>
              <input type="text" class="form-control" id="deliverablesName" name="name" required placeholder="Enter new deliverables method">
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="$.fn.addDeliverable()" class="btn btn-primary" data-dismiss="modal">Add Deliverables</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- End Card -->
</main>
<!-- End #main -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script th:src="@{/js/text-editor.js}"></script>

<script th:src="@{/js/form-wizard.js}"></script>
<script th:src="@{/js/validation.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
        integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--    <script src="/js/select2.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


<script>
  // Function to toggle the toolbar
  function clean() {
    $('#title').val("");
    quillObjective.root.innerHTML = "";
    quillBackground.root.innerHTML = "";
    $('#client').val("default").trigger('change');
    $('#member').val(null).trigger('change');
    $('#foc').val(null).trigger('change');
  }
  let quillObjective= new Quill("#objective", aa);
  let quillBackground = new Quill("#background", aa);
  //document element ready
  document.addEventListener('DOMContentLoaded', function () {
    const containers = document.querySelectorAll('.ql-container');
    containers.forEach(item => {
      item.classList.add('round-full-border');
    });
    toggleToolbar(0, 'objective');
    toggleToolbar(1, 'background');
  })


</script>

<script>
  $(document).ready(function () {
    // Function to populate options from JSON data
    // Initialize Select2 for both select boxes
    $('.js-example-basic-single').select2();
  });
</script>

<script>
  function populateSelect(selector, options) {
    let select = $(selector);
    $.each(options, function (index, value) {
      select.append('<option value="' + value.id + '">' + value.name + '</option>');
    })
  }

  function updateSelect(selector, option) {
    let select = $(selector);
    select.append('<option value="' + option.id + '">' + option.name + '</option>');
  }

  function setupModalHandling(input, error, modalButton, modalSaveButton, getURL, postURL, selectBoxClass, modalId) {
    function toggleError() {
      error.toggleClass('d-none', input.val().trim() !== '');
    }

    function resetModal() {
      let modalID = $('#' + modalId);
      input.val('');
      error.addClass('d-none');
      modalID.modal('show');
      // Use the 'shown.bs.modal' event to focus on the input
      modalID.on('shown.bs.modal', function () {
        input.focus();
      });
    }

    function handlePostRequest(data) {
      $.ajax({
        url: postURL,
        type: 'POST',
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function (responseData) {
          $('#' + modalId).modal('hide');
          updateSelect(selectBoxClass, responseData);
          console.log(responseData);
        },
        error: function (responseData) {
          console.log(responseData);
          alert("Creation failed");
        }
      });
    }

    input.on('input', toggleError);

    modalButton.click(resetModal);

    $(document).ready(function () {
      $.ajax({
        url:'/get-client',
        type: 'GET',
        success: function (data) {
          populateSelect(selectBoxClass, data);
        },
        error: function (data) {
          console.log(data);
        }
      });
    });

    modalSaveButton.click(function () {
      let inputValue = input.val().trim();
      if (inputValue !== '') {
        handlePostRequest({id: null, name: inputValue});
      } else {
        error.removeClass('d-none');
        input.focus();
      }
    });
  }


  // Usage for addClient button
  setupModalHandling(
          $('#addClient'),
          $('#addClientError'),
          $('#callClientModal'),
          $('#saveClient'),
          '/member/get-category',
          '/member/create-category',
          '.js-example-basic-single.select-box',
          'clientModal'
  );
</script>

<script>
    $.ajax({
      url:'/get-member',
      method: 'GET',
      dataType: 'json',
      success: function (data) {
          console.log('aaadata',data)
          $.each(data, function (index, value) {
              $('#member').append($('<option>', {
                  value: value.id,
                  text: value.name
              }));
              $('#foc').append($('<option>', {
                value: value.id,
                text: value.name
              }));
          });
      },
      error: function (error) {
        console.error('Error fetching data:', error);
      }
    });

    $.ajax({
      url:'/get-deliverables',
      method: 'GET',
      dataType: 'json',
      success: function (data) {
        console.log('data',data)
        $.each(data, function (index, value) {
          $('#deli').append($('<option>', {
            value: value.id,
            text: value.name
          }));
        });
      },
      error: function (error) {
        console.error('Error fetching data:', error);
      }
    });

    $.ajax({
      url:'/get-architecture-outlines',
      method: 'GET',
      dataType: 'json',
      success: function (data) {
        console.log('data',data)
        $.each(data, function (index, value) {
          $('#ao').append($('<option>', {
            value: value.id,
            text: value.name
          }));
        });
      },
      error: function (error) {
        console.error('Error fetching data:', error);
      }
    });

    $.ajax({
      url:'/get-systemoutlines',
      method: 'GET',
      dataType: 'json',
      success: function (data) {
        console.log('data',data)
        $.each(data, function (index, value) {
          $('#so').append($('<option>', {
            value: value.id,
            text: value.name
          }));
        });
      },
      error: function (error) {
        console.error('Error fetching data:', error);
      }
    });

</script>
<script>
    $('#member').select2({
        placeholder: 'Choose Member',
        closeOnSelect: true,
        width: '100%'
    });

    $('#foc').select2({
      placeholder: 'Choose FOC Member',
      closeOnSelect: true,
      width: '100%'
    });

    $('#deli').select2({
      placeholder: 'Choose Deliverables ',
      closeOnSelect: true,
      width: '100%'
    });

    $('#ao').select2({
      placeholder: 'Choose Architecture Outlines ',
      closeOnSelect: true,
      width: '100%'
    });

    $('#so').select2({
      placeholder: 'Choose System Outlines ',
      closeOnSelect: true,
      width: '100%'
    });

</script>
<script>
  $(document).ready(function () {
    $.ajax({
      url: '/get-department',
      type: 'GET',
      success: function (data) {
        console.log("Department data : ", data);
        populateSelect('.js-example-basic-single.select-box2', data);
      },
      error: function (data) {
        console.log(data);
      }
    });
  });
</script>
<script>
  $('.text-danger').hide();

  $('#create-project').submit(function (e) {
    e.preventDefault();

    // Reset errors
    $('.text-danger').hide();

    let name = $('#title').val();
    let department= parseInt($('#department').val(),10);
    let startDate= new Date($('#start-date').val());
    let endDate= new Date($('#end-date').val());
    let so= $('#so').val().map(val=> parseInt(val,10));
    let ao= $('#ao').val().map(val=> parseInt(val,10));
    let deli= $('#deli').val().map(val=> parseInt(val,10));
    let member= $('#member').val().map(val=> parseInt(val,10));
    let foc= $('#foc').val().map(val=> parseInt(val,10));
    let client= parseInt($('#client').val(),10);
    let objective = quillObjective.root.innerHTML;
    let background = quillBackground.root.innerHTML;


    // If no errors, proceed with the AJAX request
    const projObj = {
      id: null,
      name: name,
      department: department,
      startDate: startDate,
      endDate: endDate,
      background: background,
      objective: objective,
      systemOutlines: so,
      architectureOutlines: ao,
      deliverables: deli,
      contractMembers: member,
      focMembers: foc,
      client: client,


    };

    // Convert to JSON string
    const jsonString = JSON.stringify(projObj);
    console.log(projObj);

    $.ajax({
      url: '/pm/create-proj',
      type: 'POST',
      contentType: "application/json",
      data: jsonString,
      success: function (response) {
        alert("Project created successfully");
      },
      error: function (response) {
        alert("Project creation failed");
      }
    });
  });
</script>
<script>
  $('.text-danger').hide();
  // Function to hide the relevant error message when user interacts with input/select
  function hideErrorOnInteraction(input, error) {
    input.on('input', function () {
      error.hide();
    });

    input.on('change', function () {
      error.hide();
    });
  }

  // Event listeners for input fields
  hideErrorOnInteraction($('#title'), $('#titleError'));
  hideErrorOnInteraction($('#foc'), $('#focError'));
  hideErrorOnInteraction($('#department'), $('#departmentError'));
  hideErrorOnInteraction($('#member'), $('#memberError'));
  hideErrorOnInteraction($('#client'), $('#clientError'));
  hideErrorOnInteraction($('#so'), $('#soError'));
  hideErrorOnInteraction($('#ao'), $('#aoError'));
  hideErrorOnInteraction($('#deli'), $('#deli_error'));


  // Event listeners for Quill text editors


  quillObjective.on('text-change', function () {
    $('#objectiveError').hide();
  });

  quillBackground.on('text-change', function () {
    $('#backgroundError').hide();
  });
</script>
<script>
  $(document).ready(function () {
    $("#start-date").datepicker({
      dateFormat: "yy-mm-dd",
      showOtherMonths: true,
      selectOtherMonths: true,
      changeMonth: true,
      changeYear: true,
      onSelect: (dateText, inst)=>$('#start-date').val(dateText).trigger('change'),
    });

    $("#end-date").datepicker({
      dateFormat: "yy-mm-dd",
      showOtherMonths: true,
      selectOtherMonths: true,
      changeMonth: true,
      changeYear: true,
      onSelect: (dateText, inst)=>$('#end-date').val(dateText).trigger('change'),
    });

    //check name input
    checkDatesValidation("start-date","end-date");
    //form validate
    formValidate("form-wizard1")

  });

</script>

<script src="/js/contract-info-script.js"></script>
</body>
</html>
