<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DIR-ACE TECHNOLOGY</title>
    <!-- Favicons -->
    <link th:href="@{/images/DAT.png}" rel="icon">
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <!-- Bootstrap CSS for modal box -->



    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Bootstrap JS and Popper.js for Modal Box -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

    <link
            th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
            integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />


    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="/css/hope-ui.min.css?v=4.0.0">
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="/css/libs.min.css">
    <!-- Single Select -->
    <link rel="stylesheet" href="/css/single-select.css">

<!--    icon-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/custom.min.css?v=4.0.0">


    <!-- Customizer Css -->
    <link rel="stylesheet" href="/css/customizer.min.css">

    <!-- RTL Css -->
    <link rel="stylesheet" href="/css/rtl.min.css">
    <!--    selectbox-->
    <link rel="stylesheet" href="/css/multiple-select.css">
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet"/>

</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/sidebar :: #sidebar}"></div>

<main id="main" class="main">
    <!-- Breadcrumb part-->
    <div class="pagetitle">
        <h1>Create New Project</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">create-project</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <div style="height: 70px;"></div>
    <!-- Main Content -->

    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div>
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">                        </div>
                        <div class="card-body">
                            <form id="form-wizard1" class="mt-3 text-center needs-validation" novalidate>
                                <ul id="top-tab-list" class="p-0 row list-inline">
                                    <li class="mb-2 col-lg-3 col-md-6 text-start active" id="account">
                                        <a href="">
                                            <div class="iq-icon me-3">
                                                <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.4"
                                                          d="M16.0756 2H19.4616C20.8639 2 22.0001 3.14585 22.0001 4.55996V7.97452C22.0001 9.38864 20.8639 10.5345 19.4616 10.5345H16.0756C14.6734 10.5345 13.5371 9.38864 13.5371 7.97452V4.55996C13.5371 3.14585 14.6734 2 16.0756 2Z"
                                                          fill="currentColor"></path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M4.53852 2H7.92449C9.32676 2 10.463 3.14585 10.463 4.55996V7.97452C10.463 9.38864 9.32676 10.5345 7.92449 10.5345H4.53852C3.13626 10.5345 2 9.38864 2 7.97452V4.55996C2 3.14585 3.13626 2 4.53852 2ZM4.53852 13.4655H7.92449C9.32676 13.4655 10.463 14.6114 10.463 16.0255V19.44C10.463 20.8532 9.32676 22 7.92449 22H4.53852C3.13626 22 2 20.8532 2 19.44V16.0255C2 14.6114 3.13626 13.4655 4.53852 13.4655ZM19.4615 13.4655H16.0755C14.6732 13.4655 13.537 14.6114 13.537 16.0255V19.44C13.537 20.8532 14.6732 22 16.0755 22H19.4615C20.8637 22 22 20.8532 22 19.44V16.0255C22 14.6114 20.8637 13.4655 19.4615 13.4655Z"
                                                          fill="currentColor"></path>
                                                </svg>
                                            </div>
                                            <span class="dark-wizard">Info</span>
                                        </a>
                                    </li>
                                    <li id="personal" class="mb-2 col-lg-3 col-md-6 text-start">
                                        <a href="">
                                            <div class="iq-icon me-3">
                                                <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.4"
                                                          d="M16.34 1.99976H7.67C4.28 1.99976 2 4.37976 2 7.91976V16.0898C2 19.6198 4.28 21.9998 7.67 21.9998H16.34C19.73 21.9998 22 19.6198 22 16.0898V7.91976C22 4.37976 19.73 1.99976 16.34 1.99976Z"
                                                          fill="currentColor"></path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M11.1246 8.18921C11.1246 8.67121 11.5156 9.06421 11.9946 9.06421C12.4876 9.06421 12.8796 8.67121 12.8796 8.18921C12.8796 7.70721 12.4876 7.31421 12.0046 7.31421C11.5196 7.31421 11.1246 7.70721 11.1246 8.18921ZM12.8696 11.362C12.8696 10.88 12.4766 10.487 11.9946 10.487C11.5126 10.487 11.1196 10.88 11.1196 11.362V15.782C11.1196 16.264 11.5126 16.657 11.9946 16.657C12.4766 16.657 12.8696 16.264 12.8696 15.782V11.362Z"
                                                          fill="currentColor"></path>
                                                </svg>
                                            </div>
                                            <span class="dark-wizard d-none d-md-inline">Detail</span>
                                        </a>
                                    </li>
                                    <li id="payment" class="mb-2 col-lg-3 col-md-6 text-start">
                                        <a href="">
                                            <div class="iq-icon me-3">
                                                <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11.9488 14.54C8.49884 14.54 5.58789 15.1038 5.58789 17.2795C5.58789 19.4562 8.51765 20.0001 11.9488 20.0001C15.3988 20.0001 18.3098 19.4364 18.3098 17.2606C18.3098 15.084 15.38 14.54 11.9488 14.54Z"
                                                          fill="currentColor"></path>
                                                    <path opacity="0.4"
                                                          d="M11.949 12.467C14.2851 12.467 16.1583 10.5831 16.1583 8.23351C16.1583 5.88306 14.2851 4 11.949 4C9.61293 4 7.73975 5.88306 7.73975 8.23351C7.73975 10.5831 9.61293 12.467 11.949 12.467Z"
                                                          fill="currentColor"></path>
                                                    <path opacity="0.4"
                                                          d="M21.0881 9.21923C21.6925 6.84176 19.9205 4.70654 17.664 4.70654C17.4187 4.70654 17.1841 4.73356 16.9549 4.77949C16.9244 4.78669 16.8904 4.802 16.8725 4.82902C16.8519 4.86324 16.8671 4.90917 16.8895 4.93889C17.5673 5.89528 17.9568 7.0597 17.9568 8.30967C17.9568 9.50741 17.5996 10.6241 16.9728 11.5508C16.9083 11.6462 16.9656 11.775 17.0793 11.7948C17.2369 11.8227 17.3981 11.8371 17.5629 11.8416C19.2059 11.8849 20.6807 10.8213 21.0881 9.21923Z"
                                                          fill="currentColor"></path>
                                                    <path d="M22.8094 14.817C22.5086 14.1722 21.7824 13.73 20.6783 13.513C20.1572 13.3851 18.747 13.205 17.4352 13.2293C17.4155 13.232 17.4048 13.2455 17.403 13.2545C17.4003 13.2671 17.4057 13.2887 17.4316 13.3022C18.0378 13.6039 20.3811 14.916 20.0865 17.6834C20.074 17.8032 20.1698 17.9068 20.2888 17.8888C20.8655 17.8059 22.3492 17.4853 22.8094 16.4866C23.0637 15.9589 23.0637 15.3456 22.8094 14.817Z"
                                                          fill="currentColor"></path>
                                                    <path opacity="0.4"
                                                          d="M7.04459 4.77973C6.81626 4.7329 6.58077 4.70679 6.33543 4.70679C4.07901 4.70679 2.30701 6.84201 2.9123 9.21947C3.31882 10.8216 4.79355 11.8851 6.43661 11.8419C6.60136 11.8374 6.76343 11.8221 6.92013 11.7951C7.03384 11.7753 7.09115 11.6465 7.02668 11.551C6.3999 10.6234 6.04263 9.50765 6.04263 8.30991C6.04263 7.05904 6.43303 5.89462 7.11085 4.93913C7.13234 4.90941 7.14845 4.86348 7.12696 4.82926C7.10906 4.80135 7.07593 4.78694 7.04459 4.77973Z"
                                                          fill="currentColor"></path>
                                                    <path d="M3.32156 13.5127C2.21752 13.7297 1.49225 14.1719 1.19139 14.8167C0.936203 15.3453 0.936203 15.9586 1.19139 16.4872C1.65163 17.4851 3.13531 17.8066 3.71195 17.8885C3.83104 17.9065 3.92595 17.8038 3.91342 17.6832C3.61883 14.9167 5.9621 13.6046 6.56918 13.3029C6.59425 13.2885 6.59962 13.2677 6.59694 13.2542C6.59515 13.2452 6.5853 13.2317 6.5656 13.2299C5.25294 13.2047 3.84358 13.3848 3.32156 13.5127Z"
                                                          fill="currentColor"></path>
                                                </svg>
                                            </div>
                                            <span class="dark-wizard">Enroll</span>
                                        </a>
                                    </li>
                                    <li id="confirm" class="mb-2 col-lg-3 col-md-6 text-start">
                                        <a href="">
                                            <div class="iq-icon me-3">
                                                <svg class="svg-icon icon-20" xmlns="http://www.w3.org/2000/svg"
                                                     width="20" fill="none" viewBox="0 0 24 24"
                                                     stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          stroke-width="2" d="M5 13l4 4L19 7"/>
                                                </svg>
                                            </div>
                                            <span class="dark-wizard">Finish</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- fieldsets -->
                                <fieldset>
                                    <div class="form-card text-start">
                                        <div class="row">
                                            <div class="col-7">
                                                <h3 class="mb-4">Project Information:</h3>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 1 - 4</h2>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label for="name" class="form-label">Name</label>
                                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter project name"
                                                           required minlength="3" maxlength="25">
                                                    <div class="invalid-feedback" id="name_error">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="start-date" class="form-label d-block">Start Date</label>
                                                    <input class="datepicker-style form-control" type="text" id="start-date" placeholder="Enter start date"/>
                                                    <div class="invalid-feedback" id="start-date_error"></div>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label  class="form-label" for="department">Department</label>
                                                    <div id="department" class="w-100"></div>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="end-date" class="form-label d-block">End Date</label>
                                                    <input class="datepicker-style form-control" type="text" id="end-date" placeholder="Enter end date"/>
                                                    <div class="invalid-feedback" id="end-date_error"></div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <button type="button" name="next"
                                            class="btn btn-primary next action-button float-end" value="Next">Next
                                    </button>
                                </fieldset>

                                <fieldset>
                                    <div class="form-card text-start">
                                        <div class="d-grid grid-cols--2 grid-cols--md-2 gap-2">
                                            <h3 class="mb-4">Project Detail :</h3>
                                            <h2 class="steps">Step 2 - 4</h2>
                                        </div>
                                        <div class="d-grid grid-cols--1 grid-cols--md-2 gap-2">
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="Background" id="bg"
                                                          name="bg" required></textarea>
                                                <label for="bg">Background</label>
                                                <div class="invalid-feedback" id="bg_error">
                                                </div>
                                            </div>


                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="Objective" id="obj"
                                                          name="obj" required></textarea>
                                                <label for="obj">Objective </label>
                                                <div class="invalid-feedback" id="obj_error">
                                                </div>
                                            </div>

                                            <div>
                                                <label for="so" class="form-label">System Outline</label>

                                                <div class="d-flex gap-2">
                                                    <select class="form-control" name="so" id="so" multiple required>
                                                        <option value="1">Afghanistan</option>
                                                        <option value="2">Australia</option>
                                                        <option value="3">Germany</option>
                                                        <option value="4">Canada</option>
                                                        <option value="5">Russia</option>
                                                    </select>
                                                    <a id="addSystemOutlineButton" class="icon-add-btn" data-toggle="modal" data-target="#addSystemOutlineModal">
                                                        <i class='bx bx-plus m-0 p-0'></i>
                                                    </a>

                                                </div>
                                                <div class="invalid-feedback" id="so_error"></div>
                                            </div>

                                            <div>
                                                <label for="ao" class="form-label">Architecture Outline</label>
                                                <div class="d-flex gap-2">
                                                    <select class="form-control" name="ao" id="ao" multiple required>
                                                        <option value="1">Afghanistan</option>
                                                        <option value="2">Australia</option>
                                                        <option value="3">Germany</option>
                                                        <option value="4">Canada</option>
                                                        <option value="5">Russia</option>
                                                    </select>
                                                        <a id="addArchitectureOutlineButton" class="icon-add-btn" data-toggle="modal" data-target="#addArchitectureOutlineModal">
                                                            <i class='bx bx-plus m-0 p-0'></i>
                                                        </a>
                                                </div>
                                                <div class="invalid-feedback" id="ao_error"></div>
                                            </div>
                                            <div></div>
                                            <div>
                                                <button type="button" name="next"
                                                        class="btn btn-primary next action-button float-end"
                                                        value="Next">
                                                    Next
                                                </button>
                                                <button type="button" name="previous"
                                                        class="btn btn-dark previous action-button-previous float-end me-1"
                                                        value="Previous">Previous
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <!--                                enrolling members and clients Page 3-->
                                <fieldset>
                                    <div class="form-card text-start">
                                        <div class="d-grid grid-cols--2 grid-cols--md-2 gap-2">
                                            <h3 class="mb-4">Members and Clients</h3>
                                            <h2 class="steps">Step 3 - 4</h2>
                                        </div>
                                        <div class="d-grid grid-cols--1 grid-cols--md-2 gap-2">
                                            <div>
                                                <label for="member" class="form-label">Add Member</label>

                                                <div class="d-flex gap-2 align-items-center">
                                                    <select class="form-control" name="member" id="member" multiple
                                                            required>
                                                        <option value="1">Sar Sar</option>
                                                        <option value="2">ADar Dar</option>
                                                        <option value="3">SAndy</option>
                                                        <option value="4">Olivia</option>
                                                        <option value="5">Martin</option>
                                                    </select>
                                                </div>
                                                <div class="invalid-feedback" id="member_error"></div>
                                            </div>


                                            <div>
                                                <label for="focmember" class="form-label">Add FOC Member</label>

                                                <div class="d-flex gap-2 align-items-center">
                                                    <select class="form-control" name="member" id="focmember" multiple
                                                            required>
                                                        <option value="1">Sar Sar</option>
                                                        <option value="2">ADar Dar</option>
                                                        <option value="3">SAndy</option>
                                                        <option value="4">Olivia</option>
                                                        <option value="5">Martin</option>
                                                    </select>

                                                </div>
                                                <div class="invalid-feedback" id="focmember_error"></div>
                                            </div>
                                            <div>
                                                <label for="client" class="form-label">Client</label>
                                                <div class="d-flex gap-2">
                                                    <div id="client" class="w-100"></div>
                                                    <a id="addClientButton" class="icon-add-btn" data-toggle="modal" data-target="#addMemberModal">
                                                        <i class='bx bx-plus m-0 p-0'></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <div>
                                                <label for="deli" class="form-label">Deliverables</label>
                                                <div class="d-flex gap-2">
                                                    <select class="form-control" name="ao" id="deli" multiple required>
                                                        <option value="1">Afghanistan</option>
                                                        <option value="2">Australia</option>
                                                        <option value="3">Germany</option>
                                                        <option value="4">Canada</option>
                                                        <option value="5">Russia</option>
                                                    </select>
                                                    <a id="addDeliverablesButton" class="icon-add-btn" data-toggle="modal" data-target="#addDeliverablesModal">
                                                        <i class='bx bx-plus m-0 p-0'></i>
                                                    </a>


                                                    </a>
                                                </div>
                                                <div class="invalid-feedback" id="deli_error"></div>
                                            </div>

                                            <div></div>



                                            <div>
                                                <button type="button" name="next"
                                                        class="btn btn-primary next action-button float-end" value="Submit">
                                                    Submit
                                                </button>
                                                <button type="button" name="previous"
                                                        class="btn btn-dark previous action-button-previous float-end me-1"
                                                        value="Previous">Previous
                                                </button>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Bootstrap Modal -->

                                      </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h3 class="mb-4 text-left">Finish:</h3>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 4 - 4</h2>
                                            </div>
                                        </div>
                                        <br><br>
                                        <h2 class="text-center text-success"><strong>SUCCESS !</strong></h2>
                                        <br>
                                        <div class="row justify-content-center">
                                            <div class="col-3"><img src="/images/success.png"
                                                                    class="img-fluid" alt="fit-image"></div>
                                        </div>
                                        <br><br>
                                        <div class="row justify-content-center">
                                            <div class="text-center col-7">
                                                <h5 class="text-center purple-text">A new project is successfully
                                                    created.</h5>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- End Main Content-->
</main>
<!-- End #main -->
<div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="addMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMemberModalLabel">Add New Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="clientName">Client Name</label>
                        <input type="text" class="form-control" id="clientName" placeholder="Enter client name">
                    </div>
                    <div class="form-group">
                        <label for="clientEmail">Email</label>
                        <input type="email" class="form-control" id="clientEmail" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="clientPhoneNumber">Phone Number</label>
                        <input type="tel" class="form-control" id="clientPhoneNumber" placeholder="Enter phone number">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addSystemOutlineModal" tabindex="-1" role="dialog" aria-labelledby="addSystemOutlineModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSystemOutlineModalLabel">Add New System Outline</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="systemOutlineName">Name</label>
                        <input type="text" class="form-control" id="systemOutlineName" placeholder="Enter New System Outline">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addArchitectureOutlineModal" tabindex="-1" role="dialog" aria-labelledby="addArchitectureOutlineModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addArchitectureOutlineModalLabel">Add New Architecture Outline</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="architectureOutlineName">Name</label>
                        <input type="text" class="form-control" id="architectureOutlineName" placeholder="Enter architecture outline name">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addDeliverablesModal" tabindex="-1" role="dialog" aria-labelledby="addDeliverablesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDeliverablesModalLabel">Add New Deliverables</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="deliverablesName">Deliverable Method</label>
                        <input type="text" class="form-control" id="deliverablesName" placeholder="Enter new deliverables method">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
        integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/form-wizard.js}"></script>
<script th:src="@{/js/validation.js}"></script>
<script th:src="@{/js/single-select.js}"></script>
<!--selectbox-->
<script src="/js/multi-select.js"></script>

<script>
    new MultiSelectTag('so')
    new MultiSelectTag('ao')
    new MultiSelectTag('member')
    new MultiSelectTag('focmember')
    new MultiSelectTag('deli')// id
</script>
<script>
    $(document).ready(function () {
        $("#start-date").datepicker({
            dateFormat: "yy-mm-dd",
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true,
            onSelect: (dateText, inst)=>$('#start-date').val(dateText).trigger('change'),
        });

        $("#end-date").datepicker({
            dateFormat: "yy-mm-dd",
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true,
            onSelect: (dateText, inst)=>$('#end-date').val(dateText).trigger('change'),
        });

        //check name input
        checkInputValidation("name", "Name",null, 3);
        checkInputValidation("bg", "Background",null, 10);
        checkInputValidation("obj", "Objective",null, 10);
        checkDatesValidation("start-date","end-date");
        //form validate
        formValidate("form-wizard1")

    });

</script>

<!--Single Select-->
<script>
    const data1 = ['mgmg', 'aungaung', 'tuntun']
    const id1 = init("client")
    const client_wrapperUpdateName = singleSelect(id1, data1);

    const data2 = ['ACE', 'DAT', 'Ace Plus']
    const id2 = init("department")
    const department_wrapperUpdateName = singleSelect(id2, data2);

</script>

</body>
</html>