<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Change Default Password</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <link   href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Favicons -->
    <link th:href="@{/images/favicon.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

    <link
            th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="col-10 col-sm-8 col-md-6 col-lg-4 rounded p-4 m-auto">
            <h1 class="display-6 text-center">Change Default Password</h1>
            <form id= "checkForm" action="/change-default-password" method="post" onsubmit="return validatePassword()">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                            <label id="password-label" for="password" class="form-label d-flex align-items-center">
                                <i class="bx bx-lock-alt me-2"></i>New Password
                            </label>
                        </div>
                        <button class="btn btn-outline-secondary" type="button" id="passwordToggle">
                            <i id="passwordIcon" class="bi bi-eye-slash"></i>
                        </button>
                    </div>
                    <span id="password_error" class="invalid-feedback"></span>

                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Password"/>
                            <label id="password-label2" for="confirmPassword" class="form-label d-flex align-items-center">
                                <i class="bx bx-lock-alt me-2"></i>Confirm Password
                            </label>
                        </div>
                        <button class="btn btn-outline-secondary" type="button" id="passwordToggle2">
                            <i id="passwordIcon2" class="bi bi-eye-slash"></i>
                        </button>
                    </div>
                    <span id="confirmPassword_error" class="invalid-feedback"></span>
                </div>
                <span id="password12_error" class="text-danger d-none">The password and confirm password must match</span>

                <div class="d-flex justify-content-end mx-auto">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" id="resetButton">Change</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Vendor JS Files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>

<script th:src="@{/js/validation.js}"></script>
<script>
    const passwordPattern = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d).{8,}$/;
    checkInputValidation("password", "Password",passwordPattern, 8);
    checkInputValidation("confirmPassword", "ConfirmPassword",passwordPattern, 8);
</script>
<!--<script>-->
<script>
    function validatePassword() {
        // Reset error messages
        const passwordError = document.getElementById('password12_error');
        const confirmPassword = document.getElementById('confirmPassword').value;
        const password = document.getElementById('password').value;

        // Validate password confirmation
        if (password !== confirmPassword) {
            passwordError.classList.remove('d-none')
            return false;
        }

        return true;
    }
    function togglePasswordVisibility(inputId, iconId) {
        const passwordInput = document.getElementById(inputId);
        const passwordIcon = document.getElementById(iconId);

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            passwordIcon.classList.remove('bi-eye-slash');
            passwordIcon.classList.add('bi-eye');
        } else {
            passwordInput.type = 'password';
            passwordIcon.classList.remove('bi-eye');
            passwordIcon.classList.add('bi-eye-slash');
        }
    }

    // Event listener for password visibility toggle
    const passwordToggle = document.getElementById('passwordToggle');
    passwordToggle.addEventListener('click', function () {
        togglePasswordVisibility('password', 'passwordIcon');
    });

    // Event listener for confirm password visibility toggle
    const passwordToggle2 = document.getElementById('passwordToggle2');
    passwordToggle2.addEventListener('click', function () {
        togglePasswordVisibility('confirmPassword', 'passwordIcon2');
    });
</script>

<!--</script>-->

</body>
</html>