<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>DIR-ACE TECHNOLOGY</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Favicons -->
    <link th:href="@{/images/DAT.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
          rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/hope.css">
    <link rel="stylesheet" href="/css/modal.css">
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- Library / Plugin Css Build -->
    <!--  <link rel="stylesheet" href="/css/core/libs.min.css">-->

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/custom.min.css?v=4.0.0">
    <!-- Dark Css -->
    <!--  <link rel="stylesheet" href="/css/dark.min.css">-->
    <!-- Customizer Css -->
    <link rel="stylesheet" href="/css/customizer.min.css">

    <!-- RTL Css -->
    <link rel="stylesheet" href="/css/rtl.min.css">
    <!-- Single Select -->
    <!--  <link rel="stylesheet" href="/css/single-select.css">-->


    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/sidebar :: #sidebar"></div>

<main id="main" class="main">
    <!-- Breadcrumb part-->
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">Department</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <!-- Main Content -->

    <div class="container-fluid mt-3 py-0">
        <div class="container-fluid d-flex justify-content-between mb-4 bg-white p-3 rounded-2 shadow">
            <span class="display-6 fs-3 fw-bold">Department</span>
            <button id="addUserModalBtn" class="btn btn-sm btn-primary d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#addDepartmentModal">
                <i class="bx bx-plus fs-4 me-2"></i><span class="fs-6">New</span>
            </button>
        </div>

        <div class="table-responsive">
            <table id="department-table" class="display table-sm" style="width: 100%;">
                <thead>
                <tr>
                    <th class="col-1">No</th>
                    <th class="col-9">Name</th>
                    <th class="col-2">Status</th>
                    <th class="col-2">Action</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="toastPlace"></div>
    <!-- End Main Content-->
</main>
<!-- End #main -->


<!--Modal box-->
<!--Add department-->
<!--<div class="modal fade" id="addDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="addDepartmentModalLabel"-->
<!--     aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <form id="addDepartmentForm">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="addDepartmentModalLabel">Add New Department</h5>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                    <div class="form-group">-->
<!--                        <label for="name">Department Name:</label>-->
<!--                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter department name" required>-->
<!--                        <span class="invalid-feedback" id="name_error"></span>-->
<!--                    </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                <button type="submit" class="btn btn-primary">Save</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->


<div class="modal fade" id="addDepartmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Create New Department</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <form id="addDepartmentForm">
                <div style="align-items: center; padding: 10px">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter department name" required>
                            <span class="invalid-feedback" id="name_error"></span>
                        </div>
                    <div class="d-flex justify-content-end mb-1">
                        <a class="btn btn-sm btn-gray rounded" style="margin-right: 5px; padding: 10px 15px"
                           data-bs-dismiss="modal">
                            <i class="bi bi-x-circle"></i>&nbsp;Close
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary rounded"
                                style="padding: 10px 15px">
                            <i class="bi bi-plus-circle"></i>&nbsp;Add
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Edit Department Modal-->
<!--<div class="modal fade" id="departmentEditModal" tabindex="-1" aria-labelledby="departmentEditModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog d-flex align-items-center">-->
<!--        <form id="editDepartmentForm">-->
<!--        <div class="modal-content" style="width: 500px!important;">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title fs-5">Edit Department</h5>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                    <div class="form-group">-->
<!--                        <input type="hidden" class="form-control" id="editId">-->
<!--                        <label for="editDepartmentName">Department name:</label>-->
<!--                        <input type="text" class="form-control" id="editDepartmentName" required>-->
<!--                        <span class="invalid-feedback" id="editDepartmentName_error"></span>-->
<!--                    </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                <button type="submit" class="btn btn-primary">Update</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<div class="modal fade" id="departmentEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Edit Department</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <form id="editDepartmentForm">
                <div style="align-items: center; padding: 15px">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="editId">
                        <input type="text" class="form-control" id="editDepartmentName" required>
                        <span class="invalid-feedback" id="editDepartmentName_error"></span>
                    </div>
                    <div class="d-flex justify-content-end mb-1">
                        <a class="btn btn-sm btn-gray rounded" style="margin-right: 5px; padding: 10px 15px"
                           data-bs-dismiss="modal">
                            <i class="bi bi-x-circle"></i>&nbsp;Close
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary rounded"
                                style="padding: 10px 15px">
                            <i class="bi bi-plus-circle"></i>&nbsp;Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmationDepartmentModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Confirmation</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <div style="align-items: center; padding: 15px">
                <div class="mb-2">
                    Are you sure you want to <span id="confirmationDepartmentAction"></span> this Department?
                    <div id="confirmationDepartmentMessage"></div>
                </div>
                <div class="d-flex justify-content-end mb-1">
                    <button type="button" class="btn btn-gray" data-bs-dismiss="modal" style="margin-right: 5px;">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="confirmDepartmentButton">Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>


<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script src="/js/validation.js"></script>
<!-- Bootstrap JS and Popper.js for Modal Box -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
<!--   For Department Table-->
    let departmentList =[];
    $(document).ready(function () {
        //Make an AJAX request to fetch data from the Rest API point
        $.ajax({
            url: '/departments',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log('All department list: ', data);
                departmentList = data;
                //Render the data into the DataTable
                renderDepartmentListTable(data);
            },
            error: function (xhr, status, error) {
                console.log('Error: ', error);
            }
        });
        checkInputValidation('name','Department name',null,null);
        checkInputValidation('editDepartmentName','Department name',null,null);
        $('#addDepartmentForm').submit(function (event) {
            event.preventDefault();
            addDepartment();
        });
        $('#editDepartmentForm').submit(function (event) {
            event.preventDefault();
            editDepartment();
        });

        $("#name").on('input', function () {
            if ($(this).val() === '') {
                $(this).removeClass("is-valid").addClass("is-invalid");
                $('#name_error').text('Department name is required');
            } else {
                $(this).removeClass("is-valid").removeClass("is-invalid");
                $('#name_error').text('');
            }
        });

        $("#editDepartmentName").on('input', function () {
            if ($(this).val() === '') {
                $(this).removeClass("is-valid").addClass("is-invalid");
                $('#editDepartmentName_error').text('Department name is required');
            } else {
                $(this).removeClass("is-valid").removeClass("is-invalid");
                $('#editDepartmentName_error').text('');
            }
        });
    });

function renderDepartmentListTable(items) {
    if ($.fn.DataTable.isDataTable('#department-table')) {
        $('#department-table').DataTable().destroy();
    }
    return $('#department-table').DataTable({
        data: items,
        columns: [
            {
                data: 'id',
                render: function (data, type, row, meta) {
                    return meta.row + 1;
                }
            },
            {data: 'name'},
            {
                data: 'active',
                render: function (data, type, row) {
                    return `
                       <span class="badge rounded-pill text-bg-${data?'success':'danger'}" style="width: 60px">${data?'opened':'closed'}</span>
                    `;
                }
            },
            {
                data: 'active',
                render: function (data, type, row) {
                    return `
                        <button class="btn btn-sm btn-primary mx-2" onclick="displayEditDepartmentModal(${row.id})">Edit</button>
                        <button type="button" onclick="toggleDepartment(${row.id}, ${!data})" class="btn btn-sm btn-${data ? 'gray' : 'success'}" style="width:90px;margin-right: 5px">${data ? 'Close' : 'Open'}</button>
                        `;
                }
            },
        ]
    });
}

function toggleDepartment(id, newStatus) {
    //Find the member in memberList
    const department = departmentList.find(department => department.id === id);
    if(!department){
        console.log('Member not found for ID:', id);
        return;
    }
    // Show Bootstrap modal for confirmation
    const actionText = department.active ? 'disable' : 'enable';
    $('#confirmationDepartmentAction').text(actionText);

    $('#confirmationDepartmentModal').modal('show');

    // Set event listener for modal confirm button
    $('#confirmDepartmentButton').on('click', function (event) {

        // Prevent form submission and page refresh
        event.preventDefault();
        // Close the modal
        $('#confirmationDepartmentModal').modal('hide');
        //Determine the new active status (toggle it)
        const newActiveStatus = !department.active;

        // Make the AJAX request
        $.ajax({
            url: `/department/status/${id}?newStatus=${newStatus}`,
            type: 'PUT',
            success: function (data) {
                // Handle success response, update UI if necessary
                console.log('Member status updated successfully:', data);
                location.reload();
            },
            error: function (error) {
                // Handle error response
                console.error('Error updating member status:', error);
            }
        });
        $('#confirmDepartmentButton').off('click');
    });
}

// For add Department
    function addDepartment() {
        let addDepartment= {
           id:$('#id').val(),
            name:$('#name').val()};
        console.log(addDepartment);
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/department-create",
            data: JSON.stringify(addDepartment),
            dataType: 'json',
            success: function (data) {
                // departmentList.push(data)
                console.log(departmentList);
                location.reload();
                // renderDepartmentListTable(departmentList);
            },
            error: function (error) {
                console.log('Error adding new department:', error);
                $('#name').removeClass("is-valid").addClass("is-invalid");
                $('#name_error').text('This department name is already exist');
            }
        });
    }

    //For Display Edit Department Modal
    function displayEditDepartmentModal(id) {
    const department = departmentList.find(department => department.id === id);
    console.log("Department Edit ", department);
    // Check if department is found
    if (department) {
        //populate modal fields with department data
        $('#editId').val(department.id);
        $('#editDepartmentName').val(department.name);
        //show the modal
        $("#departmentEditModal").modal('show');
    } else {
        console.log("Department not found for ID:", id);
        $('#editDepartmentName').removeClass("is-valid").addClass("is-invalid");
        $('#editDepartmentName_error').text('This department name is already exist');
    }
}


function editDepartment() {
    let id = $('#editId').val();
    let name = $('#editDepartmentName').val();
    let updatedDepartment = {
        id: id,
        name: name,
    };
    console.log("updatedDepartment", updatedDepartment);
    // Make a PUT request to update the department data
    $.ajax({
        url: `/department-edit/${id}`,
        method: 'PUT',
        data: JSON.stringify(updatedDepartment),
        dataType: 'json',
        contentType: 'application/json', // Corrected contentType value
        success: function (data) {
            console.log('Data received:', data);
            location.reload();
        },
        error: function (xhr, error) {
            console.log(xhr.responseText)
            console.log('Error fetching data:', error);
            $('#editDepartmentName').removeClass("is-valid").addClass("is-invalid");
            $('#editDepartmentName_error').text('This department name is already exist');
        }
    });
}


</script>
<script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
<script src="/js/notification.js"></script>
<script src="/js/init-notification.js"></script>
<script>
    function notify(notification) {
        showToast(notification);
    }
</script>
</body>
</html>
