<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>DIR-ACE TECHNOLOGY</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Favicons -->
    <link th:href="@{/images/DAT.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
          rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/hope.css">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- Library / Plugin Css Build -->
    <!--  <link rel="stylesheet" href="/css/core/libs.min.css">-->

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/custom.min.css?v=4.0.0">
    <!-- Dark Css -->
    <!--  <link rel="stylesheet" href="/css/dark.min.css">-->
    <!-- Customizer Css -->
    <link rel="stylesheet" href="/css/customizer.min.css">

    <!-- RTL Css -->
    <link rel="stylesheet" href="/css/rtl.min.css">
    <!-- Single Select -->
    <!--  <link rel="stylesheet" href="/css/single-select.css">-->


    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/sidebar :: #sidebar"></div>

<main id="main" class="main">
    <!-- Breadcrumb part-->
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">Department</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <!-- Main Content -->

    <div class="container-fluid mt-3 py-0">
        <div class="container-fluid d-flex justify-content-between mb-4 bg-white p-3 rounded-2 shadow">
            <span class="display-6 fs-3 fw-bold">Department</span>
            <button id="addUserModalBtn" class="btn btn-sm btn-primary d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#addDepartmentModal">
                <i class="bx bx-plus fs-4 me-2"></i><span class="fs-6">New</span>
            </button>
        </div>

        <div class="table-responsive">
            <table id="department-table" class="display table-sm" style="width: 100%;">
                <thead>
                <tr>
                    <th class="col-1">No</th>
                    <th class="col-9">Name</th>
                    <th class="col-2">Status</th>
                    <th class="col-2">Action</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- End Main Content-->
</main>
<!-- End #main -->


<!--Modal box-->
<!--Add department-->
<div class="modal fade" id="addDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="addDepartmentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="addDepartmentForm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDepartmentModalLabel">Add New Department</h5>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Department Name:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter department name" required>
                        <span class="invalid-feedback" id="name_error"></span>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        </form>
    </div>
</div>


<!-- Edit Department Modal-->

<div class="modal fade" id="departmentEditModal" tabindex="-1" aria-labelledby="departmentEditModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex align-items-center">
        <form id="editDepartmentForm">
        <div class="modal-content" style="width: 500px!important;">
            <div class="modal-header">
                <h5 class="modal-title fs-5">Edit Department</h5>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="editId">
                        <label for="editDepartmentName">Department name:</label>
                        <input type="text" class="form-control" id="editDepartmentName" required>
                        <span class="invalid-feedback" id="editDepartmentName_error"></span>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
        </form>
    </div>
</div>


<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="confirmationDepartmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationDepartmentModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to <span id="confirmationDepartmentAction"></span> this member?
                <div id="confirmationDepartmentMessage"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmDepartmentButton">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script src="/js/validation.js"></script>


<!-- Bootstrap JS and Popper.js for Modal Box -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
<script src="/js/notification.js"></script>
<script src="/js/init-notification.js"></script>
<script src="/js/department-list-view.js"></script>
</body>
</html>
