<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Dir-Ace Technology</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Bootstrap JS and Popper.js for Modal Box -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap JS and Popper.js for Modal Box End -->

    <link href="/css/single-select.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"/>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Favicons -->
    <link th:href="@{/images/DAT.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">
    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
          integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- Quill text -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/quilltext.css">
    <!-- multi-select css link -->
    <link rel="stylesheet" href="/css/multiple-select.css">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="/css/hope.css">
    <link href="/css/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/select2.css">
    <!--    <script src="/js/select2.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <style>
        .card-body {
            background: white;
        }
    </style>
    <style>
        .select2-container--default .select2-selection--multiple {
            height: 100%;
            line-height: 30px;
        }
    </style>

    <style>
        .modal {
            --bs-modal-width: 450px;
            align-items: center;
            justify-content: center;
            margin-top: 140px;
        }

        .btn-icon {
            height: 40px;
        }

        .modal-backdrop.show {
            opacity: 0.5;
        }

    </style>
    <style>
        /* Add this style for the dim overlay */
        #dim-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 10000;
            display: none;
            pointer-events: auto; /* Updated to block interactions with elements beneath */
        }

        .spinner-border {
            position: fixed;
            top: 50%;
            left: 50%;
            font-size: 1.8rem;
            width: 2.8rem;
            height: 2.8rem;
            z-index: 10001; /* Update z-index to be higher than #dim-overlay */
            display: none;
        }
    </style>

</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/sidebar :: #sidebar}"></div>

<!-- Start #main -->
<main id="main" class="main">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/issue1}">Issue</a></li>
            <li class="breadcrumb-item active">Create Issue</li>
        </ol>
    </nav>
    <!-- End Page Title -->
    <div class="card" style="border-radius: 18px; margin: 20px 28px">
        <div class="card-body" style="padding: 23px 45px 28px 45px ; border-radius:15px">
            <h2 style="padding: 10px" class="mb-3"><i class="bi bi-pencil-square"></i> Edit Issue</h2>
            <form th:action="@{/member/create-issue}" method="post" th:object="${issueCreateFormInput}"
                  id="create-issue">
                <div class="container d-flex flex-column gap-2">

                    <div class="flex-1 mb-2">
                        <label for="title" class="form-label text-black">Title</label>
                        <input class="form-control" type="text" name="title" id="title"
                               placeholder="Enter issue title"/>
                        <span class="text-danger error-message" id="titleError">Title must not be blank.</span>
                    </div>

                    <div class="d-flex gap-3">
                        <!-- Left Set -->
                        <div class="d-flex flex-column w-100 p-0 gap-2 w-100">
                            <label for="issue_category" class="mb-0 text-black">Category</label>
                            <div class="d-flex gap-2 w-100 p-0">
                                <!-- First Select Box with Default Value -->
                                <select class="js-example-basic-single select-box form-select"
                                        id="issue_category" style="width: 100%; height: 100%;">
                                    <option value="default" selected disabled>Select an option</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <button type="button" class="btn btn-primary btn-icon" id="callCategoryModal"><i
                                        class="bx bx-plus fw-bold fs-5 text-center align-middle"></i></button>
                            </div>
                            <span class="text-danger error-message" id="categoryError">Category must be selected.</span>
                        </div>

                        <!-- Right Set -->
                        <div class="d-flex flex-column w-100 p-0 gap-2 w-100">
                            <label for="issue_place" class="mb-0 text-black">Issue Place</label>
                            <div class="d-flex gap-2 w-100 p-0">
                                <!-- Second Select Box with Default Value -->
                                <select class="js-example-basic-single select-box1 form-select"
                                        id="issue_place" style="width: 100%; height: 100%;">
                                    <option value="default" selected disabled>Select an option</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <button type="button" class="btn btn-primary btn-icon" id="callPlaceModal"
                                        data-target="categoryModal"><i
                                        class="bx bx-plus fw-bold fs-5 text-center align-middle"></i></button>
                            </div>
                            <span class="text-danger error-message" id="placeError">Issue place must be selected.</span>
                        </div>
                    </div>

                    <div class="d-flex gap-3 mb-2">
                        <div class="d-flex flex-column w-100 p-0 gap-2 w-100">
                            <label for="issue_category" class="mb-0 text-black">Responsible Party</label>
                            <div class="d-flex gap-2 w-100 p-0">
                                <!-- First Select Box with Default Value -->
                                <select class="js-example-basic-single select-box3 form-select"
                                        id="res-party" style="width: 100%; height: 100%;">
                                    <option value="default" selected disabled>Select an option</option>
                                </select>
                                <button type="button" class="btn btn-primary btn-icon" id="callResPartyModal"
                                        data-target="resPartyModal"><i
                                        class="bx bx-plus fw-bold fs-5 text-center align-middle"></i></button>
                            </div>
                            <span class="text-danger error-message" id="resPartyError">Responsible party must be selected.</span>
                        </div>

                        <div class="d-flex flex-column w-100 p-0">
                            <label for="issue-pic" class="text-black">Issue PIC</label>
                            <select class="js-example-basic-single select-box2 form-select"
                                    id="issue-pic" style="width: 100%; height: 100%;">
                                <option value="default" selected disabled>Select an option</option>
                            </select>
                            <span class="text-danger error-message" id="picError">Issue PIC must be selected.</span>
                        </div>
                    </div>

                    <div>
                        <label for="content" class="form-label text-black">Content</label>
                        <div id="content"></div>
                        <span class="text-danger error-message" id="contentError">Content must not be empty!</span>
                    </div>

                    <div>
                        <label for="dir-cause" class="form-label text-black">Direct Cause</label>
                        <div id="dir-cause"></div>
                        <span class="text-danger error-message"
                              id="dirCauseError">Direct cause must not be empty!</span>
                    </div>

                    <div class="mb-3">
                        <label for="root-cause" class="text-black">Root Cause</label>
                        <div id="root-cause"></div>
                        <span class="text-danger error-message" id="rootCauseError">Root cause must not be empty!</span>
                    </div>
                    <div class="align-self-end">
                        <a class="btn btn-sm btn-gray rounded" style="margin-right: 5px;padding: 10px 15px" onclick="goBack()">
                            <i class="bi bi-backspace"></i>&nbsp;Back
                        </a>
                        <a class="btn btn-sm btn-danger rounded" style="margin-right: 5px;padding: 10px 15px" onclick="clean()">
                            <i class="bi bi-arrow-clockwise"></i>&nbsp;Reset
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary rounded" style="padding: 10px 15px" id="submitButton">
                            <i class="bi bi-save"></i>&nbsp;Update
                        </button>
                    </div>
                </div>
                <!--  Hidden Items    -->
                <input type="hidden" name="content" id="contentInput">
                <input type="hidden" name="resParty" id="resPartyInput">
                <input type="hidden" name="dirCause" id="dirCauseInput">
                <input type="hidden" name="rootCause" id="rootCauseInput">
                <!-- Hidden Items End -->
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog d-flex align-items-center">
            <div class="modal-content">
                <div class="d-flex">
                    <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Add New Category</h1>
                    <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close" style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
                </div>
                <form id="addCategoryForm">
                    <div style="align-items: center; padding: 15px">
                        <input type="text" class="form-control" id="addCategory"/>
                        <span class="text-danger" id="addCategoryError">The category must not be blank.</span>
                        <span class="text-danger" id="addCategorySameError">This category already exists.</span>
                    </div>
                    <div class="d-flex justify-content-end mb-2">
                        <a class="btn btn-sm btn-gray rounded" style="margin-right: 5px; padding: 10px 15px" data-bs-dismiss="modal">
                            <i class="bi bi-x-circle"></i>&nbsp;Close
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary rounded" id="saveAddCategory" style="margin-right: 15px; padding: 10px 15px">
                            <i class="bi bi-plus-circle"></i>&nbsp;Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="placeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog d-flex align-items-center">
            <div class="modal-content">
                <div class="d-flex">
                    <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Add New Place</h1>
                    <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close" style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
                </div>
                <form id="addPlaceForm">
                    <div style="align-items: center; padding: 15px">
                        <input type="text" class="form-control" id="addPlace"/>
                        <span class="text-danger" id="addPlaceError">The place must not be blank.</span>
                        <span class="text-danger" id="addPlaceSameError">This place already exist.</span>
                    </div>
                    <div class="d-flex justify-content-end mb-2">
                        <a class="btn btn-sm btn-gray rounded" style="margin-right: 5px; padding: 10px 15px" data-bs-dismiss="modal">
                            <i class="bi bi-x-circle"></i>&nbsp;Close
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary rounded" id="saveAddPlace" style="margin-right: 15px; padding: 10px 15px">
                            <i class="bi bi-plus-circle"></i>&nbsp;Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="resPartyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog d-flex align-items-center">
            <div class="modal-content">
                <div class="d-flex">
                    <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Add New Responsible Party</h1>
                    <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close" style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
                </div>
                <form id="addResPartyForm">
                    <div style="align-items: center; padding: 15px">
                        <input type="text" class="form-control" id="addResParty"/>
                        <span class="text-danger"
                              id="addResPartyError">The responsible party must not be blank.</span>
                        <span class="text-danger"
                              id="addResPartySameError">This responsible party already exist.</span>
                    </div>
                    <div class="d-flex justify-content-end mb-2">
                        <a class="btn btn-sm btn-gray rounded" style="margin-right: 5px; padding: 10px 15px" data-bs-dismiss="modal">
                            <i class="bi bi-x-circle"></i>&nbsp;Close
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary rounded" id="saveAddResParty" style="margin-right: 15px; padding: 10px 15px">
                            <i class="bi bi-plus-circle"></i>&nbsp;Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog d-flex align-items-center">
            <div class="modal-content">
                <!-- Removed the modal-header and moved the close button to the modal-body -->
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="font-size: 1.5rem; position: absolute; top: 0; right: 0;"></button>
                    <div class="text-center">
                        <i class="bi bi-check2-circle" style="font-size: 3rem; color: #28a745;"></i>
                        <h2 style="font-size: 2rem;">Success!</h2>
                        <p>Issue Creation was successful.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spinner-border text-primary" role="status" id="loadingSpinner">
    </div>
    <div id="dim-overlay"></div>
    <div id="toastPlace"></div>
</main>
<!-- End #main -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script th:src="@{/js/text-editor.js}"></script>

<script>

    function toggleLoadingSpinner(show) {
        const dimOverlay = $('#dim-overlay');
        const spinner = $('#loadingSpinner');

        if (show) {
            dimOverlay.show();
            spinner.show();
        } else {
            dimOverlay.hide();
            spinner.hide();
        }
    }
    function displaySuccessModal() {
        let modalBox = $('#successModal')
        // Show the modal
        modalBox.modal('show');

        // Hide the modal after 3 seconds
        setTimeout(function () {
            modalBox.modal('hide');
            window.location.href = "/issues";
        }, 2000);

        // Handle close event of the modal
        modalBox.on('hidden.bs.modal', function () {
            window.location.href = "/issues";
        });
    }
    // Function to toggle the toolbar
    function clean() {
        $('#title').val("");
        quillContent.root.innerHTML = "";
        quillDirCause.root.innerHTML = "";
        quillRootCause.root.innerHTML = "";
        $('#issue_category').val("default").trigger('change');
        $('#issue_place').val("default").trigger('change');
        $('#issue-pic').val("default").trigger('change');
        $('#res-party').val("default").trigger('change');
    }

    let quillContent = new Quill("#content", aa);
    let quillDirCause = new Quill("#dir-cause", aa);
    let quillRootCause = new Quill("#root-cause", aa);
    //document element ready
    document.addEventListener('DOMContentLoaded', function () {
        const containers = document.querySelectorAll('.ql-container');
        containers.forEach(item => {
            item.classList.add('round-full-border');
        });
        toggleToolbar(0, 'content');
        toggleToolbar(1, 'dir-cause');
        toggleToolbar(2, 'root-cause');
    })
</script>

<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
        // Use the css method to set the transform property
        $("#notiArea").css({
            "transform": "translate(-32px, 40.8px) !important",
        });
    });
</script>

<script>
    function populateSelect(selector, options) {
        let select = $(selector);
        $.each(options, function (index, value) {
            select.append('<option value="' + value.id + '">' + value.name + '</option>');
        });
    }

    function updateSelect(selector, option) {
        let select = $(selector);
        select.append('<option value="' + option.id + '">' + option.name + '</option>');
    }

    function setupModalHandling(input, error, modalButton, modalSaveButton, getURL, postURL, selectBoxClass, modalId) {
        function toggleError() {
            error.toggleClass('d-none', input.val().trim() !== '');
        }

        function resetModal() {
            let modalID = $('#' + modalId);
            input.val('');
            error.addClass('d-none');
            modalID.modal('show');
            // Unbind previous event handlers
            modalID.off('shown.bs.modal');
            // Use the 'shown.bs.modal' event to focus on the input
            modalID.on('shown.bs.modal', function () {
                input.focus();
            });
        }

        function handlePostRequest(data) {
            $.ajax({
                url: postURL,
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (responseData) {
                    $('#' + modalId).modal('hide');
                    updateSelect(selectBoxClass, responseData);
                    console.log(responseData);
                },
                error: function (data) {
                    console.log(data.responseText); // Log only the error message
                    alert("Creation failed");
                }
            });
        }

        input.on('input', toggleError);

        modalButton.click(resetModal);

        $(document).ready(function () {
            $.ajax({
                url: getURL,
                type: 'GET',
                success: function (data) {
                    populateSelect(selectBoxClass, data);
                },
                error: function (data) {
                    console.log(data.responseText); // Log only the error message
                }
            });
        });

        modalSaveButton.click(function () {
            let inputValue = input.val().trim();
            if (inputValue === '') {
                error.removeClass('d-none');
                input.focus();
            } else {
                handlePostRequest({id: null, name: inputValue});
            }
        });
    }

    function initializeModal(button, error, modalButton, modalSaveButton, getURL, postURL, selectBoxClass, modalId) {
        setupModalHandling(button, error, modalButton, modalSaveButton, getURL, postURL, selectBoxClass, modalId);
    }

    // Usage for addCategory button
    initializeModal(
        $('#addCategory'),
        $('#addCategoryError'),
        $('#callCategoryModal'),
        $('#saveAddCategory'),
        '/get-category',
        '/create-category',
        '.js-example-basic-single.select-box',
        'categoryModal'
    );

    // Usage for addPlace button
    initializeModal(
        $('#addPlace'),
        $('#addPlaceError'),
        $('#callPlaceModal'),
        $('#saveAddPlace'),
        '/get-place',
        '/create-place',
        '.js-example-basic-single.select-box1',
        'placeModal'
    );

    // Usage for addResParty button
    initializeModal(
        $('#addResParty'),
        $('#addResPartyError'),
        $('#callResPartyModal'),
        $('#saveAddResParty'),
        '/get-resParty',
        '/create-resParty',
        '.js-example-basic-single.select-box3',
        'resPartyModal'
    );

</script>
<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2({
            placeholder: '  Select options',
            // allowClear: true,
            closeOnSelect: true,
            width: '100%'
        });
    });
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/get-pic',
            type: 'GET',
            success: function (data) {
                console.log("Pic data : ", data);
                populateSelect('.js-example-basic-single.select-box2', data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    });
</script>
<script>
    // $('.text-danger').hide();

    $('#create-issue').submit(function (e) {
        e.preventDefault();

        // Reset errors
        // $('.text-danger').hide();
        let issueTitle = $('#title').val();
        let issueCategory = parseInt($('#issue_category').val());
        let issuePlace = parseInt($('#issue_place').val());
        let issuePic = parseInt($('#issue-pic').val());
        let resParty = parseInt($('#res-party').val());
        let content = quillContent.root.innerHTML;
        let dirCause = quillDirCause.root.innerHTML;
        let rootCause = quillRootCause.root.innerHTML;

        console.log("Issue title : ", issueTitle);
        console.log("Issue category : ", issueCategory);
        console.log("Issue place : ", issuePlace);
        console.log("Issue pic : ", issuePic);
        console.log("Issue resParty : ", resParty);
        console.log("Issue content : ", content);
        console.log("Issue dirCause : ", dirCause);
        console.log("Issue rootCause : ", rootCause);

        // Array to collect validation errors
        let errors = [];

        // Perform validation
        if (issueTitle === '') {
            errors.push('#titleError');
        }
        if (isNaN(issueCategory) || issueCategory === 'default' || issueCategory === null) {
            errors.push('#categoryError');
        }
        if (isNaN(issuePlace) || issuePlace === 'default' || issuePlace === null) {
            errors.push('#placeError');
        }
        if (isNaN(issuePic) || issuePic === 'default' || issuePic === null) {
            errors.push('#picError');
        }
        if (isNaN(resParty) || resParty === 'default' || resParty === null) {
            errors.push('#resPartyError');
        }
        if (content === '' || content === '<p><br></p>') {
            errors.push('#contentError');
        }
        if (dirCause === '' || dirCause === '<p><br></p>') {
            errors.push('#dirCauseError');
        }
        if (rootCause === '' || rootCause === '<p><br></p>') {
            errors.push('#rootCauseError');
        }

        // Display all errors at once
        for (let error of errors) {
            $(error).show();
        }

        // If there are errors, stop further processing
        if (errors.length > 0) {
            return false;
        }

        // If no errors, proceed with the AJAX request
        const issueObj = {
            id: issueId,
            title: issueTitle,
            content: content,
            directCause: dirCause,
            rootCause: rootCause,
            responsibleParty: resParty,
            issuePlace: issuePlace,
            issueCategory: issueCategory,
            pic: issuePic
        };
        // Convert to JSON string
        const jsonString = JSON.stringify(issueObj);
        console.log(jsonString);
        toggleLoadingSpinner(true);
        $.ajax({
            url: '/create-issue',
            type: 'POST',
            contentType: "application/json",
            data: jsonString,
            success: function (response) {
                toggleLoadingSpinner(false);
                displaySuccessModal();
            },
            error: function (response) {
                toggleLoadingSpinner(false);
                alert("Issue creation failed");
            }
        });
    });
</script>
<script>
    // $('.text-danger').hide();
    // Function to hide the relevant error message when user interacts with input/select
    function hideErrorOnInteraction(input, error) {
        input.on('input', function () {
            error.hide();
        });
        input.on('change', function () {
            error.hide();
        });
    }
    // Event listeners for input fields
    hideErrorOnInteraction($('#title'), $('#titleError'));
    hideErrorOnInteraction($('#issue_category'), $('#categoryError'));
    hideErrorOnInteraction($('#issue_place'), $('#placeError'));
    hideErrorOnInteraction($('#issue-pic'), $('#picError'));
    hideErrorOnInteraction($('#res-party'), $('#resPartyError'));

    // Event listeners for Quill text editors
    quillContent.on('text-change', function () {
        $('#contentError').hide();
    });

    quillDirCause.on('text-change', function () {
        $('#dirCauseError').hide();
    });

    quillRootCause.on('text-change', function () {
        $('#rootCauseError').hide();
    });
</script>
<script>
    function hideAllErrorMessages() {
        $('.error-message').hide();
    }

    // Hide all error messages when the document is ready
    $(document).ready(function () {
        hideAllErrorMessages();
    });
</script>

<script>
    var issueId = window.location.pathname.split('/').reverse()[1];
    $(document).ready(function () {
        $.ajax({
            url: "/get-issue-details/" + issueId,
            type: "GET",
            dataType: "json",
            success: function (data) {
                let issueDetails = data;

                // Update the HTML to display issue details
                $('#title').val(issueDetails.title);

                // Set selected values for the select boxes
                $('#issue_category').val(issueDetails.categoryId).trigger('change');
                $('#issue_place').val(issueDetails.placeId).trigger('change');
                $('#issue-pic').val(issueDetails.picId).trigger('change');
                $('#res-party').val(issueDetails.responsiblePartyId).trigger('change');

                // Update Quill text editors
                quillContent.root.innerHTML = issueDetails.content;
                quillDirCause.root.innerHTML = issueDetails.directCause;
                quillRootCause.root.innerHTML = issueDetails.rootCause;

                // Reinitialize Select2 after updating the select values and triggering change event
                $('.js-example-basic-single').select2();
            }
        });
    });
</script>

<script>
    function goBack() {
        window.history.back();
    }
</script>
<script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
<script src="/js/notification.js"></script>
<script src="/js/init-notification.js"></script>
<script>
    function notify(notification) {
        showToast(notification);
    }
</script>
</body>
</html>
