<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"/>

    <!-- Bootstrap CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Favicons -->
    <link th:href="@{/images/favicon.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Bootstrap Icons -->
    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>

    <!-- Boxicons CSS -->
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>

    <!-- Remixicon CSS -->
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

    <link href="/css/pagination.css" rel="stylesheet"/>

    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="/css/hope.css">
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="/css/libs.min.css">

    <!--    icon-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/custom.min.css?v=4.0.0">


    <!-- Customizer Css -->
    <link rel="stylesheet" href="/css/customizer.min.css">

    <!-- RTL Css -->
    <link rel="stylesheet" href="/css/rtl.min.css">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/select2.css">
    <style>
        .issue-card {
            margin-bottom: 20px;
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
        }

        .issue-card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .issue-card:hover {
            transform: scale(1.02);
        }

        .btn{
            transition: transform 0.3s;
        }

        .btn:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .btn:hover {
            transform: scale(1.02);
        }

        .card-header {
            background: linear-gradient(to right, #6a0572, #00b4d8);
            color: #fff;
            border-bottom: none;
        }

        .card-body {
            padding: 10px;
        }

        .card {
            border-radius: 20px;
        }

        .uploaded-info {
            font-size: 1em;
            color: #666;
            text-align: right;
            float: right; /* Add this line to float the element to the right */
            margin-top: -20px; /* Adjust the margin if necessary */
        }

        input[type="text"] {
            padding: 10px;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
    </style>
    <style>
        #issueNotFound {
            margin-top: 30px;
            text-align: center;
        }
    </style>
    <style>
        .select2-container .select2-selection--single {
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            height: 37px;
            user-select: none;
            -webkit-user-select: none;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #444;
            line-height: 37px;
        }

    </style>
</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/sidebar :: #sidebar"></div>

<!-- Start #main -->
<main id="main" class="main">
    <div class="page-title">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">Issue</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <div class="container" style="padding: 15px;">

        <div class="row">
            <div class="col-md-6">
                <h4><i class="bi bi-info-circle"></i> Issue Page</h4>
            </div>
            <div class="col-md-6 text-end">
                <!-- Move the "Create Issue" button to the right -->
                <a class="btn btn-secondary" th:href="@{/issues/my-issues}">Creator View</a>
                <a class="btn btn-secondary" th:href="@{/issues/pic}">PIC View</a>
                <a class="btn btn-primary" th:href="@{/issues/new}">Create Issue</a>
            </div>
        </div>
        <!-- Search Box -->
        <div class="search-box mb-3">
            <label for="issueSearch"></label>
            <input type="text" id="issueSearch" placeholder="Search issues...">
        </div>

        <!-- Select Box for Filter -->
        <div class="row mb-3">
            <div class="col-md-4">
                <select id="filterSelect" class="form-select">
                    <option value="">Status</option>
                    <option value="true">Solved</option>
                    <option value="false">Unsolved</option>
                </select>
            </div>
            <div class="col-md-4">
                <select id="category" class="js-example-basic-single s1" name="category"
                        style="width: 100%; height: 100%;">
                    <option value="">Category</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="col-md-4">
                <select id="place" class="js-example-basic-single s2" name="place" style="width: 100%; height: 100%;">
                    <option value="">Place</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
        </div>
        <!-- Issue Cards -->
        <div class="row" id="issueContainer" style="margin-top: 15px">
            <!-- Cards will be dynamically added here -->
        </div>

        <!-- Pagination Container -->
        <div id="pagination-container"></div>
    </div>

</main>
<!-- End #main -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<!--&lt;!&ndash; jQuery &ndash;&gt;-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Bootstrap and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/pagination.js"></script>
<!-- Your existing main.js script -->
<script src="/js/main.js"></script>
<!-- Your existing main.js script -->
<script type="text/javascript" src="/js/main.js"></script>
<!-- Include Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
    $(document).ready(function () {

        // Initialize Select2
        $('.js-example-basic-single').select2();

        $('#header .toggle-sidebar-btn').on('click', () => {
            if ($('body').hasClass('toggle-sidebar')) {
                $('body').removeClass('toggle-sidebar');
            } else {
                $('body').addClass('toggle-sidebar');
            }
        });

        var itemsPerPage = 5; // Set the number of items per page
        var issueContainer = $('#issueContainer');
        var paginationContainer = $('#pagination-container');
        var allIssues = []; // Store all issues for searching
        var filteredIssues = []; // Store filtered issues
        var issueCategory = [];

        // Fetch the data after success
        $.ajax({
            url: '/get-all-issue',
            type: 'GET',
            success: function (data) {
                // Sort data by the latest created date
                data.sort(function (a, b) {
                    return new Date(b.createdAt) - new Date(a.createdAt);
                });

                // Store all issues for searching
                allIssues = data;

                // Initialize Pagination.js for paginationContainer
                if (filteredIssues.length > 0) {
                    paginationContainer.hide();
                }
                paginationContainer.pagination({
                    dataSource: data,
                    pageSize: itemsPerPage,
                    showSizeChanger: true,
                    callback: function (data, pagination) {
                        displayPage(data);
                    }
                });

                console.log("Issue List : ", data);
            },
            error: function (data) {
                console.log(data);
            }
        });

        // Function to display issues as cards
        function displayIssues(issues) {
            var issueContainer = $('#issueContainer');
            issueContainer.empty();
            issues.forEach(function (issue) {
                let date;
                let dateText;
                if (issue.modifiedAt == null) {
                    date = issue.createdAt;
                    dateText = "Uploaded at: ";
                } else {
                    date = issue.modifiedAt;
                    dateText = "Edited at: ";
                }
                var card = `
               <div class="col-md-12">
                   <a href="/issues/${issue.id}/details" class="card-link">
                       <div class="card issue-card" style="border-radius:20px">
                           <div class="card-header" style="border-radius:20px 20px 0 0; padding: 20px">
                               <h5 class="text-white">${issue.title}</h5>
                           </div>
                           <div class="card-body" style="padding:20px">
                               <div class="d-flex">
                                   <div class="col-2"><label>Status</label></div>:&nbsp;
                                   <div class="col-10">${issue.solved ? 'Solved' : 'Unsolved'}</div>
                               </div>
                               <div class="d-flex">
                                   <div class="col-2"><label>Category</label></div>:&nbsp;
                                   <div class="col-10">${issue.category}</div>
                               </div>
                               <div class="d-flex">
                                   <div class="col-2"><label>Issue Place</label></div>:&nbsp;
                                   <div class="col-10">${issue.place}</div>
                               </div>
                               <div class="d-flex">
                                   <div class="col-2"><label>Responsible Party</label></div>:&nbsp;
                                   <div class="col-10">${issue.responsibleParty}</div>
                               </div>

                               <div id="issue-upload-date" style="padding-right: 10px">
                                    <div class="uploaded-info">
                                        <span class="text-end"><small><strong>${dateText}</strong>${formatDate(date)}</small></span>
                                    </div>
                               </div>
                           </div>
                       </div>
                   </a>
               </div>
           `;
                issueContainer.append(card);
            });


        }

        // Add an event listener for the search box
        $('#issueSearch').on('keyup', function () {
            var searchTerm = $(this).val().toLowerCase();
            filteredIssues = filterIssues(allIssues, searchTerm);
            displayIssues(filteredIssues);
        });

        // Add an event listener for the select box
        $('#filterSelect').on('change', function () {
            var searchTerm = $(this).val();
            if (searchTerm === "") {
                displayPage(allIssues);
                return;
            }
            filteredIssues = filterIssuesByStatus(allIssues, searchTerm);
            displayPage(filteredIssues);
        });

        function filterIssuesByStatus(issues, selectedVal) {
            console.log("=======", issues);
            return issues.filter(function (issue) {
                return issue.solved.toString()
                    === selectedVal;
            });
        }

        // Function to filter issues based on the search term
        function filterIssues(issues, searchTerm) {
            return issues.filter(function (issue) {
                console.log(issue.solved.toString(), searchTerm);
                let date;
                if(issue.modifiedAt == null){
                    date=issue.createdAt;
                }else{
                    date=issue.modifiedAt;
                }
                // You can customize this condition based on your requirements
                return (
                    issue.title.toLowerCase().includes(searchTerm) ||
                    issue.category.toLowerCase().includes(searchTerm) ||
                    issue.place.toLowerCase().includes(searchTerm) ||
                    issue.responsibleParty.toLowerCase().includes(searchTerm) ||
                    formatDate(date).toLowerCase().includes(searchTerm)
                );

            });
        }

        function callSelectBox(getUrl, selector) {
            $(document).ready(function () {
                $.ajax({
                    url: getUrl,
                    type: 'GET',
                    success: function (data) {
                        issueCategory = data;
                        populateSelect(selector, data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });
        }

        // Function to filter issues by category
        function filterIssuesByCategory(issues, selectedVal) {
            console.log("=======", issues);
            return issues.filter(function (issue) {
                return issue.category === selectedVal;
            });
        }

        // Add an event listener for the select box
        $('#category').on('change', function () {
            let selectedVal = $(this).val();
            if (selectedVal === "") {
                displayPage(allIssues);
                return;
            }
            // Filter issues based on the selected category
            let filteredByCategory = filterIssuesByCategory(allIssues, selectedVal);
            // Update pagination with filtered data
            displayPage(filteredByCategory);
        });

        // Function to filter issues by category
        function filterIssuesByPlace(issues, selectedVal) {
            console.log("=======", issues);
            return issues.filter(function (issue) {
                return issue.place === selectedVal;
            });
        }

        // Add an event listener for the select box
        $('#place').on('change', function () {
            let selectedVal = $(this).val();
            if (selectedVal === "") {
                displayPage(allIssues);
                return;
            }
            // Filter issues based on the selected category
            let filteredByPlace = filterIssuesByPlace(allIssues, selectedVal);
            console.log(filteredByPlace)
            // Update pagination with filtered data
            displayPage(filteredByPlace);
        });

        // Function to display issues for a specific page
        function displayPage(issues) {
            var issueContainer = $('#issueContainer');
            issueContainer.empty();
            // Display the items for the current page
            if (issues.length === 0) {
                issueContainer.append('<h3 id="issueNotFound">Issue Not Found</h3>');
                paginationContainer.hide();
            } else {
                displayIssues(issues);
                paginationContainer.show();
            }

        }
        callSelectBox('get-category', '.js-example-basic-single.s1');
        callSelectBox('get-place', '.js-example-basic-single.s2');
        function populateSelect(selector, options) {
            let select = $(selector);
            $.each(options, function (index, value) {
                select.append('<option value="' + value.name + '">' + value.name + '</option>');
            });
        }
    });

    function formatDate(date) {
        const options = {
            year: 'numeric',
            month: 'long',
            day: '2-digit',
            hour: 'numeric',
            minute: 'numeric',
            hour12: true,
        };
        return new Date(date).toLocaleDateString('en-US', options);
    }
</script>
</body>
</html>
