<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description"/>
  <meta content="" name="keywords"/>

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect"/>
  <link
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"
  />

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- Favicons -->
  <link th:href="@{/images/favicon.png}" rel="icon">
  <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

  <link
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
          rel="stylesheet"
  />
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet"/>
  <style>
    .card-container {
      margin: 20px; /* Adjust the margin value as needed */
    }
  </style>
</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/sidebar :: #sidebar"></div>

<!-- Start #main -->
<main id="main" class="main">
  <div class="page-title">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">Issue</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
  <div class="card">
    <div class="card-container">
      <h4><i class="bi bi-search"></i> Issue Page</h4>
      <a class="btn btn-primary position-absolute top-0 end-0 mt-4 me-4" th:href="@{/issue-display-page}">Create Issue</a>

    </div>


  </div>
</main>
<!-- End #main -->

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>
</body>
</html>
