<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Bootstrap JS and Popper.js for Modal Box -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap JS and Popper.js for Modal Box End -->

    <link href="/css/single-select.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"/>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Favicons -->
    <link th:href="@{/images/favicon.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">
    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
          integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/css/hope-ui.min.css?v=4.0.0">
    <!-- Quill text -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/quilltext.css">

    <!-- multi-select css link -->
    <link rel="stylesheet" href="/css/multiple-select.css">


    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
    <link rel="stylesheet" href="/css/select2.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="/css/style.css" rel="stylesheet"/>

    <style>
        .card .card-header {
            background: linear-gradient(to right, #6a0572, #00b4d8);
            color: #fff;
            border-radius: 20px 20px 0 0;
        }

        .card .card-header h3 {
            color: #fff;
            margin: 10px;
        }
    </style>
    <style>

        /* Style for the search box in the dropdown */
        .select2-search__field {
            width: calc(100% - 20px); /* Adjust the width to your preference */
            box-sizing: border-box;
            padding: 10px;
            border: 1px solid #3498db;
            border-radius: 4px;
            outline: none;
            color: #555;
        }

        .select2-container--default .select2-results > .select2-results__options {
            max-height: 150px;
        }

        /* Add some space between the two select boxes */
        .select-box {
            margin-right: 20px;
        }

        /* Style for the select boxes */
        .js-example-basic-single {
            width: 200px;
            padding: 10px;
            border: 1px solid #3498db;
            border-radius: 4px;
            background-color: #fff;
            color: #555;
            outline: none;
        }

        /* Style for the selected values */
        #selectedValues {
            margin-top: 20px;
            color: #555;
        }
    </style>
    <style>
        .modal {
            --bs-modal-width: 500px;
        }

        .btn-icon {
            height: 40px;
        }
    </style>
</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/sidebar :: #sidebar}"></div>

<!-- Start #main -->
<main id="main" class="main">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/issue1}">Issue</a></li>
            <li class="breadcrumb-item active">Create Issue</li>
        </ol>
    </nav>
    <!-- End Page Title -->
    <div class="card" style="border-radius: 20px;">
        <div class="card-header">
            <h3><i class="bi bi-pencil-square"></i> Create Issue</h3>
        </div>
        <div class="card-body" style="padding: 20px;">

            <form th:action="@{/member/create-issue}" method="post" th:object="${issueCreateFormInput}"
                  id="create-issue">
                <input type="hidden" name="issueId" value="USR001"/>
                <div class="container d-flex flex-column gap-2">
                    <div class="flex-1">
                        <label for="title" class="form-label">Title</label>
                        <input class="form-control" type="text" name="title" id="title"
                               placeholder="Enter issue title"/>
                        <div id="title_error" class="invalid-feedback"></div>
                    </div>

                    <div class="d-flex gap-3">
                        <!-- Left Set -->
                        <div class="d-flex w-100 p-0 align-items-end gap-2">
                            <div class="w-100">
                                <label for="issue_category" style="display: block; margin-bottom: 8px;">Category</label>
                                <!-- First Select Box with Default Value -->
                                <select class="js-example-basic-single select-box form-select"
                                        id="issue_category">
                                    <option value="default" selected disabled>Select an option</option>
                                    <!-- Add more options as needed -->
                                </select>
                            </div>
                            <button type="button" class="btn btn-primary btn-icon" data-bs-toggle="modal"
                                    data-bs-target="#categoryModal"><i
                                    class="bx bx-plus fw-bold fs-5 text-center align-middle"></i></button>
                        </div>

                        <!-- Right Set -->
                        <div class="d-flex w-100 p-0 align-items-end gap-2">
                            <div class="w-100">
                                <label for="issue_place" style="display: block; margin-bottom: 8px;">Issue Place</label>
                                <!-- Second Select Box with Default Value -->
                                <select class="js-example-basic-single select-box1 form-select" id="issue_place">
                                    <option value="default" selected disabled>Select an option</option>
                                    <!-- Add more options as needed -->
                                </select>
                            </div>
                            <button type="button" class="btn btn-primary btn-icon" data-bs-toggle="modal"
                                    data-bs-target="#placeModal"><i
                                    class="bx bx-plus fw-bold fs-5 text-center align-middle"></i></button>
                        </div>
                    </div>

                    <div class="d-flex gap-2">
                        <div class="d-flex flex-column gap-2 col-6 p-0">
                            <label for="issue_pic">Issue PIC</label>
                            <select class="js-example-basic-single select-box2 form-select" id="issue_pic">
                                <option value="default" selected disabled>Select an option</option>
                                <!-- Add more options as needed -->
                            </select>
                        </div>

                        <div class="d-flex flex-column gap-2 col-6 p-0">
                            <label for="res-party" class="form-label">Responsible
                                Party</label>
                            <!-- Fourth Select Box with Default Value -->
                            <select id="res-party" name="category" multiple>
                                <!-- Add options as needed -->
                            </select>
                        </div>
                    </div>

                    <div>
                        <label for="content" class="form-label">Content</label>
                        <div id="content"></div>
                    </div>


                    <div>
                        <label for="dir-cause" class="form-label">Direct Cause</label>
                        <div id="dir-cause"></div>
                    </div>

                    <div>
                        <label for="root-cause">Root Cause</label>
                        <div id="root-cause"></div>
                    </div>
                    <div class="align-self-end">
                        <input type="reset" class="btn btn-secondary" value="Reset" onclick="clean()">
                        <input type="submit" id="submitButton" class="btn btn-primary" value="Create issue">
                    </div>
                </div>
                <!--  Hidden Items    -->
                <input type="hidden" name="content" id="contentInput">
                <input type="hidden" name="resParty" id="resPartyInput">
                <input type="hidden" name="dirCause" id="dirCauseInput">
                <input type="hidden" name="rootCause" id="rootCauseInput">
                <!-- Hidden Items End -->
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog d-flex align-items-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Add New Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="align-items: center;">
                        <input type="text" class="form-control" id="category" name="category"/>
                        <span id="c-hide" style="color:red; display: none;">The category must not be blank.</span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" onclick="addCategory()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="placeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog d-flex align-items-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="align-items: center;">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="place" name="place"/>
                            <span id="p-hide" style="color:red; display: none;">The place must not be blank.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addPlace()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Card -->
</main>
<!-- End #main -->

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script th:src="@{/js/text-editor.js}"></script>
<!--Multiple Select Script File-->
<script src="/js/multi-select.js"></script>
<!--<script th:src="@{/js/issue-create-validation.js}"></script>-->

<script>
    function clean() {
        quillContent.root.innerHTML = "";
        quillDirCause.root.innerHTML = "";
        quillRootCause.root.innerHTML = "";
        $('#issue_category').val("default").trigger('change');
        $('#issue_place').val("default").trigger('change');
        $('#issue_pic').val("default").trigger('change');

        $('#res-party').val(null).trigger('change');
    }

    let quillContent = new Quill("#content", aa);
    let quillDirCause = new Quill("#dir-cause", aa);
    let quillRootCause = new Quill("#root-cause", aa);
    document.getElementById('create-issue').addEventListener('submit', function (e) {
        // Get the Quill content
        var quillContentHTML = quillContent.root.innerHTML;
        var quillDirCauseHTML = quillDirCause.root.innerHTML;
        var quillRootCauseHTML = quillRootCause.root.innerHTML;

        // Validation check
        if (!isValidQuillContent(quillContentHTML) || isValidQuillContent(quillDirCauseHTML) || !isValidQuillContent(quillRootCauseHTML)) {
            // If validation fails, prevent the form submission
            e.preventDefault();
            alert("Quill content cannot be empty.");
        } else {
            // Update hidden input fields
            document.getElementById('contentInput').value = quillContentHTML;
            document.getElementById('dirCauseInput').value = quillDirCauseHTML;
            document.getElementById('rootCauseInput').value = quillRootCauseHTML;
        }
    });

    // Function to check if Quill content is valid
    function isValidQuillContent(html) {
        // You can modify this condition based on your specific validation requirements
        return html.trim() !== '' && html.trim() !== '<p><br></p>';
    }


    //document element ready
    document.addEventListener('DOMContentLoaded', function () {
        const containers = document.querySelectorAll('.ql-container');
        containers.forEach(item => {
            item.classList.add('round-full-border');
        });
        toggleToolbar(0, 'content');
        toggleToolbar(1, 'dir-cause');
        toggleToolbar(2, 'root-cause');
    })
</script>

<script>
    $(document).ready(function () {
        // Function to populate options from JSON data
        function populateSelect(selector, jsonData) {
            var select = $(selector);
            $.each(jsonData, function (index, value) {
                select.append('<option value="' + value.id + '">' + value.name + '</option>');
            });
        }

        // Simulated JSON data for the first select box
        // var categoryData = [
        //     {id: 1, name: 'Option 1'},
        //     {id: 2, name: 'Option 2'},
        //     {id: 3, name: 'Option 3'},
        //     {id: 4, name: 'Option 1'},
        //     {id: 5, name: 'Option 2'},
        //     {id: 6, name: 'Option 3'},
        //     {id: 7, name: 'Option 1'},
        //     {id: 8, name: 'Option 2'},
        //     {id: 9, name: 'Option 3'},
        // ];

        // Simulated JSON data for the second select box
        // var jsonData2 = [
        //     {id: 'A', name: 'Option A'},
        //     {id: 'B', name: 'Option B'},
        //     {id: 'C', name: 'Option C'}
        // ];

        // Simulated JSON data for the second third box
        var jsonData3 = [
            {id: 'A', name: 'Option A'},
            {id: 'B', name: 'Option B'},
            {id: 'C', name: 'Option C'}
        ];
        // // Populate options for the first select box
        // populateSelect('.js-example-basic-single.select-box', categoryData);
        // Populate options for the second select box
        // populateSelect('.js-example-basic-single.select-box1', jsonData2);
        // Populate options for the third select box
        populateSelect('.js-example-basic-single.select-box2', jsonData3);

        // Initialize Select2 for both select boxes
        $('.js-example-basic-single').select2();

        $('#create-issue').submit(function (e) {
            e.preventDefault();

            let title = $('#title').val();
            let issue_category = $('#issue_category').val();
            let issue_place = $('#issue_place').val();
            let issue_pic = $('#issue_pic').val();
            let res_party = $('#res-party').val();
            let content = quillContent.root.innerHTML;
            let dir_cause = quillDirCause.root.innerHTML;
            let root_cause = quillRootCause.root.innerHTML;

            $.ajax({
                url: '/member/create-issue',
                type: 'POST',
                data: {
                    id: "USR001",
                    title: title,
                    category: issue_category,
                    place: issue_place,
                    pic: issue_pic,
                    content: content,
                    resParty: res_party,
                    dirCause: dir_cause,
                    rootCause: root_cause
                },
                success: function (response) {
                    console.log(response);
                    if (response.status == "success") {
                        alert("Issue created successfully");
                        window.location.href = "/member/issue";
                    } else {
                        alert("Issue creation failed");
                    }
                }
            })


        })

        // var selectedValue,selectedValue1,selectedValue2;

        // Event handler for select change
        // $('.js-example-basic-single.select-box').on('change', function() {
        //     // Get selected values from both select boxes
        //      selectedValue = $('.js-example-basic-single.select-box').val();
        // });
        //
        // $('.js-example-basic-single.select-box1').on('change', function() {
        //     // Get selected values from both select boxes
        //      selectedValue1 = $('.js-example-basic-single.select-box1').val();
        // });
        //
        // $('.js-example-basic-single.select-box2').on('change', function() {
        //     // Get selected values from both select boxes
        //      selectedValue2 = $('.js-example-basic-single.select-box2').val();
        // });

        // var selectedValue = $('.js-example-basic-single.select-box').val();
        // var selectedValue1 = $('.js-example-basic-single.select-box1').val();
        // var selectedValue2 = $('.js-example-basic-single.select-box2').val();
        //
        // console.log(selectedValue);
        // console.log(selectedValue1);
        // console.log(selectedValue2);
    });
</script>
<script>
    var jsonData = [
        {id: 1, name: 'John'},
        {id: 2, name: 'Jimmy'},
    ];

    // Call the function to populate the select box
    populateSelect("#res-party", jsonData);

    // Initialize the custom multi-select tag
    MultiSelectTag('res-party');

    function populateSelect(selector, options) {
        let select = $(selector);
        $.each(options, function (index, value) {
            select.append('<option value="' + value.id + '">' + value.name + '</option>');
        });
    }

    function updateSelect(selector, option) {
        let select = $(selector);
        select.append('<option value="' + option.id + '">' + option.name + '</option>');
    }


    <!--start add category script-->
    function addCategory() {
        let category = $('#category').val();
        if (category == null || category == "") {
            $('#c-hide').show();
        } else {
            let newCategory = {
                id: null,
                name: category
            }
            $.ajax({
                url: '/member/create-category',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify(newCategory),
                success: function (data) {
                    $("#categoryModal").modal('hide');
                    updateSelect('.js-example-basic-single.select-box', data);
                    console.log(data);
                },
                error: function (data) {
                    console.log(data);
                    alert("Category creation failed");
                }
            })
        }

    }

    <!--end create category script-->

    <!--start display category script-->
    $(document).ready(function () {
        $.ajax({
            url: '/member/get-category',
            type: 'GET',
            success: function (data) {
                console.log(data);
                populateSelect('.js-example-basic-single.select-box', data);
            },
            error: function (data) {
                console.log(data);
            }
        })
    })
    <!--end display category script-->

    <!--start add place script-->
    function addPlace() {
        let place = $('#place').val();
        if (place == null || place == "") {
            $('#p-hide').show();
        } else {
            let newPlace = {
                id: null,
                name: place
            }
            $.ajax({
                url: '/member/create-place',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify(newPlace),
                success: function (data) {
                    $("#placeModal").modal('hide');
                    updateSelect('.js-example-basic-single.select-box1', data);
                    console.log(data);
                },
                error: function (data) {
                    console.log(data);
                    alert("Place creation failed");
                }
            })
        }

    }

    <!--end add place script-->

    <!--start display place script-->
    $(document).ready(function () {
        $.ajax({
            url: '/member/get-place',
            type: 'GET',
            success: function (data) {
                console.log(data);
                populateSelect('.js-example-basic-single.select-box1', data);
            },
            error: function (data) {
                console.log(data);
            }
        })
    })
    <!--end display place script-->
</script>
</body>
</html>
