<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>LOG IN</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <link   href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Favicons -->
    <link th:href="@{/images/favicon.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

    <link
            th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="col-10 col-sm-8 col-md-6 col-lg-4 rounded p-4 m-auto">
            <h1 class="display-6 text-center">Sign In</h1>
            <form id="my_form" th:action="@{/process-login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        [[${session['SPRING_SECURITY_LAST_EXCEPTION'].message}]]
                    </div>
                </div>

                <div class="form-floating has-validation mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username"/>
                    <label id="username-label" for="username" class="form-label d-flex align-items-center">
                        <i class="bx bx-envelope me-2"></i>Username or Email
                    </label>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                            <label id="password-label" for="password" class="form-label d-flex align-items-center">
                                <i class="bx bx-lock-alt me-2"></i>Password
                            </label>
                        </div>
                        <button class="btn btn-outline-secondary" type="button" id="passwordToggle">
                            <i id="passwordIcon" class="bi bi-eye-slash"></i>
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" name="remember-me" id="remember-me">
                        <label class="form-check-label" for="remember-me">Remember me</label>
                    </div>
                </div>
                <div class="mb-3">
                    <p>Forget password? <a href="forgot-password">Click Here</a></p>
                </div>
                <div class="d-flex justify-content-end mx-auto">
                    <button type="submit" class="btn col-md-4 btn-lg btn-primary d-flex justify-content-center align-items-center fw-bold">
                        Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Vendor JS Files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script>

    // Password toggle logic
    const passwordToggle = document.getElementById('passwordToggle');
    const passwordInput = document.getElementById('password');
    const passwordIcon = document.getElementById('passwordIcon');

    passwordToggle.addEventListener('click', function () {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            passwordIcon.classList.remove('bi-eye-slash');
            passwordIcon.classList.add('bi-eye');
        } else {
            passwordInput.type = 'password';
            passwordIcon.classList.remove('bi-eye');
            passwordIcon.classList.add('bi-eye-slash');
        }
    });
</script>
</body>
</html>