<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />


    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="/css/hope.css">
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="/css/libs.min.css">
    <!-- Single Select -->
    <link rel="stylesheet" href="/css/single-select.css">

    <!--    icon-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/custom.min.css?v=4.0.0">


    <!-- Customizer Css -->
    <link rel="stylesheet" href="/css/customizer.min.css">

    <!-- RTL Css -->
    <link rel="stylesheet" href="/css/rtl.min.css">

    <!-- Favicons -->
    <link th:href="@{/images/favicon.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

    <link
            th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

    <!--  gantt chart cdn link -->
    <!--    <link th:href="@{/sources/dhtmlxgantt.css}" rel="stylesheet"/>-->
    <link th:href="@{/sources/skins/dhtmlxgantt_material.css}" rel="stylesheet"/>
    <script th:src="@{/sources/dhtmlxgantt.js}"></script>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- CSS for datepicker -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
            integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/kanban.css">

    <link rel="stylesheet" href="/css/select2.css">

    <style>
        /* Custom styles for the model div */
        #exampleModal {
            --bs-modal-width: 700px;
        }

        .modal-content {
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .modal-header {
            background-color: #f8f9fa;
            border-bottom: none;
        }

        .modal-title {
            color: #333;
            font-weight: bold;
        }

        .modal-body {
            padding: 20px;
        }

        .form-group {
            margin-bottom: 10px;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-group input,
        .form-group select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-group button[type="submit"] {
            background-color: #1DA1F2;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Styles for the modal fade animation */
        .modal.fade .modal-dialog {
            transition: opacity 0.3s ease; /* Add a transition for fading in */
            opacity: 0; /* Start with opacity 0 */
        }

        .modal.fade.show .modal-dialog {
            opacity: 1; /* Fade in the modal when it is shown */
        }

        .select2-dropdown {
            z-index: 1000000 !important;
        }

        .icon-btn-hover:hover {
            padding: 3px;
            background-color: #bad1e8 !important;
            border-radius: 5px !important;
        }


    </style>

</head>

<body id="body" class="toggle-sidebar">
<!-- ======= Header ======= -->
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/sidebar :: #sidebar}"></div>
<!-- End Header -->

<!-- Start #main -->
<main id="main" class="main bg-white">

    <!-- End Page Title -->
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="d-flex align-items-center"><i class='bx bx-package me-1'></i>Foodpanda</h3>
            <div class="d-flex gap-1">
                <button type="button" class="border-0 bg-white fw-bold icon-btn-hover " data-bs-toggle="modal"
                        data-bs-target="#taskModal">
                    KPI
                </button>
                <button type="button" class="border-0 bg-white icon-btn-hover px-1">
                    <i class="bx bx-detail "></i></button>
                <button type="button" id="fullscreen_button" class="border-0 bg-white hover-nav px-1 icon-btn-hover">
                    <i class="bx bx-expand "></i></button>


            </div>
        </div>
        <div class="container-fluid mx-sm-0">
            <div class="tabs">
                <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" >
                <label for="tab1" class="tabs__label">Kanban</label>
                <div class="tabs__content py-0">
                    <br>
                    <!-- Kanban Board -->
                    <div>
                        <div id="kanban" class="px-3">
                        </div>
                    </div>
                </div>

                <input type="radio" class="tabs__radio" name="tabs-example" id="tab2" checked>
                <label for="tab2" class="tabs__label">Gantt Chart</label>
                <div class="tabs__content py-0">
                    <br>
                    <!-- Gantt Chart -->
                    <div id="gantt" style="width: 100%; height: 70vh; margin-bottom: 10px;"></div>
                </div>
            </div>

        </div>
    </div>

    <div id="phaseModalPlace"></div>

    <!-- Modal Form -->
    <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="taskModalLabel"><i class="bi bi-bar-chart-line"></i> KPI
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <!-- Number Input Boxes in the Same Line -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="int-review">Internal Review:</label>
                                    <input type="number" class="form-control" id="int-review" name="numberInput1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ext-review">External Review:</label>
                                    <input type="number" class="form-control" id="ext-review" name="numberInput2">
                                </div>
                            </div>
                        </div>

                        <!-- Number Input Boxes in the Same Line -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bsc-design">Basic Design:</label>
                                    <input type="number" class="form-control" id="bsc-design" name="numberInput1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dtl-design">Detail Design:</label>
                                    <input type="number" class="form-control" id="dtl-design" name="numberInput2">
                                </div>
                            </div>
                        </div>

                        <!-- Number Input Boxes in the Same Line -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cod-line">Code Line:</label>
                                    <input type="number" class="form-control" id="cod-line" name="numberInput1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="unt-testing">Unit Testing:</label>
                                    <input type="number" class="form-control" id="unt-testing" name="numberInput2">
                                </div>
                            </div>
                        </div>

                        <!-- Number Input Boxes in the Same Line -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="int-testing">Integrated Testing:</label>
                                    <input type="number" class="form-control" id="int-testing" name="numberInput1">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</main>
<!-- End #main -->

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/js/jquery-ui.js"></script>
<!--<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"-->
<!--        integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="-->
<!--        crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>-->
<script src="/js/select2.js"></script>

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/validation.js"></script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>

<script>
    // Add fade animation to the modal
    $('#taskModal').on('show.bs.modal', function () {
        $(this).find('.modal-dialog').addClass('fade');
    });

    function setupDatePicker(elementId, minDate, maxDate) {
        $(elementId).datepicker({
            dateFormat: "yy-mm-dd",
            minDate: minDate,
            maxDate: maxDate,
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true,
            onSelect: (dateText, inst) => $(elementId).val(dateText).trigger('change'),
        });
    }


</script>

<!-- Custom JavaScript -->
<script type="text/javascript" src="/js/kanban-board.js"></script>
<script src="/js/gantt-board.js"></script>

<script>
    $(document).ready(function () {


        let projectId = 1;
        //get phase from server with request param of project id

        fetchKanbanData()
        fetchGanttData()
        $("#tab1").click(() => {
            fetchKanbanData()
        })
        $("#tab2").click(() => {
            fetchGanttData()
        })

        function fetchKanbanData() {
            $.ajax({
                url: `/get-phase-data?projectId=${projectId}`,
                type: "GET",
                dataType: "json",
                success: function (data) {

                    $('#kanban').kanban({
                        phases: data.phases,
                        tasks: data.tasks,
                        users: data.members,
                        startDate: data.startDate,
                        endDate: data.endDate,
                        projectId: projectId
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function fetchGanttData() {
            $.ajax({
                url: `/get-phase-data?projectId=${projectId}`,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('#gantt').ganttChart({
                        tasks: data.tasks,
                        users: data.members,
                        startDate: data.startDate,
                        endDate: data.endDate,
                        projectId: projectId
                    }, data.phases);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        $.fn.refreshGantt = fetchGanttData;

    });
</script>

<script>
    let btn = document.getElementById("fullscreen_button");
    let toggleSidebarBtn = document.querySelector('.toggle-sidebar-btn');
    let elem = document.getElementById("main");

    btn.onclick = function toggleFullScreen() {

        if (!document.fullscreenElement &&    // alternative standard method
            !document.mozFullScreenElement &&
            !document.webkitFullscreenElement &&
            !document.msFullscreenElement) {  // current working methods
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.msRequestFullscreen) {
                elem.msRequestFullscreen();
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) {
                elem.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
            }
            btn.innerHTML=`<i class="bx bx-collapse"></i>`;
        } else {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            }
            $('#fullscreen_button').empty();
            btn.innerHTML=`<i class="bx bx-expand"></i>`;
        }
    }

</script>
</body>
</html>