<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
    />

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Favicons -->
    <link th:href="@{/images/favicon.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

    <link
            th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet"/>
    <style>

        .tabs {
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            font-family: sans-serif;
        }

        .tabs__label {
            padding: 10px 16px;
            cursor: pointer;
        }

        .tabs__radio {
            display: none;
        }

        .tabs__content {
            order: 1;
            width: 100%;
            line-height: 1.5;
            font-size: 0.9em;
            display: none;
        }

        .tabs__radio:checked + .tabs__label {
            font-weight: bold;
            color: #009578;
            border-bottom: 2px solid #009578;
        }

        .tabs__radio:checked + .tabs__label + .tabs__content {
            display: initial;
        }


    </style>

    <style>
        .inputmodalbox, .dateInputBox {
            display: inline-block;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/sidebar :: #sidebar"></div>

<!-- Start #main -->
<main id="main" class="main">
    <div class="page-title">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Project</a></li>
                <li class="breadcrumb-item active">Tasks</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <div class="card" style="padding: 20px; border-radius: 10px">
        <div class="card-container">
            <h3><i class='bx bx-task'></i> Task Page</h3>
        </div>
        <div class="container">
            <div class="tabs">
                <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
                <label for="tab1" class="tabs__label">Pending</label>
                <div class="tabs__content container">
                    <br>
                    <!-- Container for Pending Task Cards -->
                    <div id="pendingContainer" class="row"></div>
                </div>

                <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
                <label for="tab2" class="tabs__label">Overdue</label>
                <div class="tabs__content container">
                    <br>
                    <!-- Container for Overdue Task Cards -->
                    <div id="overdueContainer" class="row"></div>
                </div>

                <input type="radio" class="tabs__radio" name="tabs-example" id="tab3">
                <label for="tab3" class="tabs__label">Completed</label>
                <div class="tabs__content container">
                    <br>
                    <!-- Container for Completed Task Cards -->
                    <div id="completedContainer" class="row"></div>
                </div>
            </div>

        </div>
    </div>
</main>
<!-- End #main -->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<!-- Custom JavaScript -->
<script>var accordionItems = [
    {id: 1, title: "Task 1", description: "a", planHour: "40", status: 1, actualHour: null, dueDate: "11/02/2023"},
    {id: 2, title: "Task 2", description: "b", planHour: "24", status: 2, actualHour: null, dueDate: "09/30/2023"},
    {id: 3, title: "Task 3", description: "c", planHour: "48", status: 1, actualHour: null, dueDate: "11/05/2023"},
    {id: 4, title: "Task 4", description: "d", planHour: "56", status: 0, actualHour: "50", dueDate: "11/23/2023"},
    {id: 5, title: "Task 5", description: "e", planHour: "28", status: 2, actualHour: null, dueDate: "10/05/2023"},
    {id: 6, title: "Task 6", description: "f", planHour: "42", status: 0, actualHour: "40", dueDate: "11/01/2023"},
];

accordionItems.forEach(function (item, index) {
    let cardItem = document.createElement("div");
    cardItem.classList.add("mb-3");
    cardItem.innerHTML = `
          <div class="accordion rounded" id="${index}Item">
              <div class="accordion-item ">
                  <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#flush-collapse-${index}" aria-expanded="false"
                              aria-controls="flush-collapse-${index}">
                          ${item.title}
                      </button>
                  </h2>
                  <div id="flush-collapse-${index}" class="accordion-collapse collapse"
                       data-bs-parent="#${index}Item">
                      <div class="accordion-body">
                          <div>${item.description}<div>
                          <div class="text-end">
                              <button class="btn btn-primary text-right" data-bs-toggle="modal"
                                      data-bs-target="#editModal-${item.id}">Edit</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      `;

    // Add task to the corresponding container based on status
    switch (item.status) {
        case 0:
            document.getElementById('completedContainer').appendChild(cardItem);
            break;
        case 1:
            document.getElementById('pendingContainer').appendChild(cardItem);
            break;
        case 2:
            document.getElementById('overdueContainer').appendChild(cardItem);
            break;
        default:
            break;
    }

    // Dynamic creation of modal with form
    let today = new Date();

// Get the month, day, and year
    let month = (today.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-based
    let day = today.getDate().toString().padStart(2, '0');
    let year = today.getFullYear();

// Format the date as mm-dd-yyyy
    let formattedDate = `${day}/${month}/${year}`;

    let modal = document.createElement("div");
    modal.classList.add("modal", "fade", "text-dark");
    modal.id = `editModal-${item.id}`;
    modal.tabIndex = "-1";
    modal.setAttribute("aria-labelledby", `editModalLabel-${item.id}`);
    modal.setAttribute("aria-hidden", "true");
    modal.innerHTML = `
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="editModalLabel-${item.id}">${item.title}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <!-- Form for editing -->
                  <form id="editForm-${item.id}">
                    <div class="row" style="padding:10px">
                      <div class="col-6">
                        <label for="planHour">Plan Hour :</label>
                        <input type="number" id="planHour" class="inputmodalbox"
                        placeholder="Enter plan hour" value="${item.planHour}" readonly disabled>
                      </div>
                      <!-- Conditionally display actual hour -->


                      <div class="col-6">
                        <label for="planHour">Due Date :</label>
                        <input type="text" class="dateInputBox" placeholder="Select due date" value="${item.dueDate}" readonly disabled/>
                      </div>
                    </div>

                    <div class="row" style="padding:10px">
                       <div class="col-6">
                        <label for="actualHour">Actual Hour :</label>
                        <input type="number" id="actualHour" class="inputmodalbox" min="0"
                        placeholder="Enter actual hour" value="${item.actualHour !== null ? item.actualHour : ''}">
                      </div>
                      <div class="col-6">
                        <label for="actualHour">Actual Date :</label>
                        <input type="text" class="dateInputBox" placeholder="Select actua date" value="${formattedDate}"/>
                      </div>
                    </div>

                    <!-- Add other fields as needed -->
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="saveChanges(${item.id})">Save changes</button>
              </div>
          </div>
      </div>
  `;

    document.body.appendChild(modal);
});
</script>
<script>
    $(document).ready(function () {
        $(".dateInputBox").datepicker({
            dateFormat: "dd/mm/yy",
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true,
        });
    });
</script>
</body>
</html>
