<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Include jQuery via CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include jQuery via CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include jQuery UI via CDN -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/kanban.css">
    <script type="text/javascript" src="/js/kanban.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>


<div class="m-3 p-3 border border-1">
    <div id="kanban">
        <button type="submit" id="add-phase-button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPhaseModal">
            Add Phase +
        </button>
         </div>
</div>

<div class="modal fade" id="addPhaseModal" tabindex="-1" aria-labelledby="addPhaseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addPhaseModalLabel">Add Phase</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="phaseName">Phase Name:</label>
                <input type="text" id="phaseName" class="form-control" placeholder="Enter Phase Name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="savePhaseButton">Save Phase</button>
            </div>
        </div>
    </div>
</div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">    Task</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="task-body-text-layout">
                                <div class="input-group">
                                    <label for="task-name" class="form-label">Enter Task Name:</label>
                                    <input type="text" id="task-name" placeholder="Name" class="form-control-lg" required>
                                </div>
                                <div class="input-group">
                                    <label for="task-description" class="form-label">Enter Description:</label>
                                    <textarea id="task-description" placeholder="Description" class="form-control-lg"></textarea>
                                </div>
                            </div>
                            <div class="task-body-project-expected-date">
                                <div class="input-group">
                                    <label for="task-start-date" class="form-label d-block">Enter Start Date:</label>
                                    <input type="text" id="task-start-date" placeholder="Start Date" class="form-control-lg" required>
                                </div>
                                <div class="input-group">
                                    <label for="task-end-date" class="form-label d-block">Enter End Date:</label>
                                    <input type="text" id="task-end-date" placeholder="End Date" class="form-control-lg" required>
                                </div>
                                <div class="input-group">
                                    <label for="task-plan-hours" class="form-label">Enter Plan Hours:</label>
                                    <input type="number" id="task-plan-hours" placeholder="Plan Hours" class="form-control-lg" required>
                                </div>
                            </div>
                            <div class="task-body-footer">
                                <div class="input-group">
                                    <label for="task-priority" class="form-label">Select Your Priority:</label>
                                    <select id="task-priority" required>
                                        <option value="high">High</option>
                                        <option value="medium">Medium</option>
                                        <option value="low">Low</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <label for="task-group" class="form-label">Group:</label>
                                    <select id="task-group" required>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <label for="task-type" class="form-label">Type:</label>
                                    <select id="task-type" required>
                                        <option value="task">Task</option>
                                        <option value="project">Project</option>
                                        <option value="milestone">Milestone</option>
                                    </select>
                                </div>
                            </div>
                            <div class="task-body-assignees-layout">
                            <div class="input-group">
                                <label for="task-assignees" class="form-label" >Assignees :</label>
                                <select id="task-assignees"  required>

                                </select>
                            </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" onclick="saveTask()" class="btn btn-primary" id="save-changes">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>



<!--<div class="modal fade" id="addSubtaskModal" tabindex="-1" role="dialog" aria-labelledby="addSubtaskLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <form>-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h1 class="modal-title fs-5" id="addSubtaskLabel">Add SubTask</h1>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    &lt;!&ndash; Modify the subtask input fields as needed &ndash;&gt;-->
<!--                    <div class="subtask-body-text-layout">-->
<!--                        <div class="input-group">-->
<!--                            <label for="subtask-name" class="form-label">Enter SubTask Name:</label>-->
<!--                            <input type="text" id="subtask-name" placeholder="Name" class="form-control-lg" required>-->
<!--                        </div>-->
<!--                        <div class="input-group">-->
<!--                            <label for="subtask-description" class="form-label">Enter Description:</label>-->
<!--                            <textarea id="subtask-description" placeholder="Description" class="form-control-lg"></textarea>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="subtask-body-project-expected-date">-->
<!--                        <div class="input-group">-->
<!--                            <label for="subtask-start-date" class="form-label d-block">Enter Start Date:</label>-->
<!--                            <input type="text" id="subtask-start-date" placeholder="Start Date" class="form-control-lg" required>-->
<!--                        </div>-->
<!--                        <div class="input-group">-->
<!--                            <label for="subtask-end-date" class="form-label d-block">Enter End Date:</label>-->
<!--                            <input type="text" id="subtask-end-date" placeholder="End Date" class="form-control-lg" required>-->
<!--                        </div>-->
<!--                        <div class="input-group">-->
<!--                            <label for="subtask-plan-hours" class="form-label">Enter Plan Hours:</label>-->
<!--                            <input type="number" id="subtask-plan-hours" placeholder="Plan Hours" class="form-control-lg" required>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <button type="button"  class="btn btn-primary" id="save-subtask-changes">Save Subtask</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script th:src="@{/js/single-select.js}"></script>
<script>
    $(document).ready(function () {
        function setupDatePicker(elementId) {
            $(elementId).datepicker({
                dateFormat: "yy-mm-dd",
                showOtherMonths: true,
                selectOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                onSelect: (dateText, inst) => $(elementId).val(dateText).trigger('change'),
            });
        }

        setupDatePicker("#task-start-date");
        setupDatePicker("#task-end-date");
        setupDatePicker("#task-actual-due-date");
    });
</script>

<script>
    $(document).ready(function () {
        $('#kanban').kanban({
            phase: [
                {id: 1, name: 'Backlog'},
                {id: 2, name: 'To Do'},
                {id: 3, name: 'In Progress'},
                {id: 4, name: 'Done'},

            ],
            tasks: [
                {
                    id: 1,
                    name: 'Task 1',
                    description: 'This is task 1',
                    priority: 'high',
                    start_date: '2021-01-01',
                    end_date: '2021-01-02',
                    actual_due_date: '2021-01-02',
                    plan_hours: 2,
                    actual_hours: 1,
                    status: 0,
                    group: 'A',
                    type: 'task',
                    phase: 2,
                    parent: 2,
                    assignees: [1],
                },
                {
                    id: 2,
                    name: 'Task 2',
                    description: 'This is task 2',
                    priority: 'high',
                    start_date: '2021-01-01',
                    end_date: '2021-01-02',
                    actual_due_date: '2021-01-02',
                    plan_hours: 2,
                    actual_hours: 1,
                    status: 0,
                    group: 'A',
                    type: 'project',
                    phase: 1,
                    parent: null,
                    assignees: [1],
                },
                {
                    id: 3,
                    name: 'Task 3',
                    description: 'This is task 3',
                    priority: 'l ow',
                    start_date: '2021-01-01',
                    end_date: '2021-01-02',
                    actual_due_date: '2021-01-02',
                    plan_hours: 2,
                    actual_hours: 1,
                    status: 0,
                    group: 'A',
                    type: 'project',
                    phase: 3,
                    parent: null,
                    assignees: [1],
                },

                {
                    id: 4,
                    name: 'Task 4',
                    description: 'This is task 4',
                    priority: 'high',
                    start_date: '2021-01-01',
                    end_date: '2021-01-02',
                    actual_due_date: '2021-01-02',
                    plan_hours: 2,
                    actual_hours: 1,
                    status: 0,
                    group: 'A',
                    type: 'task',
                    phase: 1,
                    parent: 2,
                    assignees: [1],
                },

                {
                    id: 5,
                    name: 'Task 5',
                    description: 'This is task 5',
                    priority: 'medium',
                    start_date: '2021-01-01',
                    end_date: '2021-01-02',
                    actual_due_date: '2021-01-02',
                    plan_hours: 2,
                    actual_hours: 1,
                    status: 0,
                    group: 'A',
                    type: 'task',
                    phase: 4,
                    parent: null,
                    assignees: [1],
                },
            ],
            onChange: (e, ui) => {
                console.log("change event -> ", e)
                console.log('change ui -> ', ui)
            },
            onReceive: (e, ui) => {
                console.log("re event -> ", e)
                console.log('re ui -> ', ui)
            }
        });


    });
</script>
</body>
</html>
