<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>DIR-ACE TECHNOLOGY</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"/>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>


    <!-- Favicons -->
    <link th:href="@{/images/DAT.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

    <link
            th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/hope.css">
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="/css/libs.min.css">


    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/custom.min.css?v=4.0.0">

    <!-- Customizer Css -->
    <link rel="stylesheet" href="/css/customizer.min.css">

    <!-- Modal Css -->
    <link rel="stylesheet" href="/css/modal.css">
    <!-- RTL Css -->
    <link rel="stylesheet" href="/css/rtl.min.css">

    <!-- Bootstrap CSS for modal box -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>

    <style>
        input:focus {
            color: #0a245b !important; /* Replace with your desired color value */
        }
    </style>

</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/sidebar :: #sidebar}"></div>
<main id="main" class="main">
    <!-- Breadcrumb part-->
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">member list</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <input type="hidden" id="currentRole" th:value="${#authentication.principal.role}"/>
    <input type="hidden" id="currentDepartment" th:value="${#authentication.principal.department}"/>

    <!-- Main Content -->
    <div class="container-fluid content-inner mt-4 py-0">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <span class="fs-3 fw-bold">Users</span>
                        <button id="addUserModalBtn"
                                class="btn btn-sm btn-primary d-flex justify-content-center align-items-center">
                            <i class="bi bi-plus-square"></i>&nbsp<span class="fs-6">New</span>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-sm" style="width:100%;" id="user-list-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Department</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Content-->
</main>
<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Template Main JS File -->
<div class="modal fade" id="userEditModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Create New User</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <form id="addEditMemberForm">
                <div style="align-items: center; padding: 15px">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="editId">
                        <label for="editName">Name</label>
                        <input type="text" class="form-control" id="editName" required placeholder="Enter name">
                        <span class="invalid-feedback" id="editName_error">Name must not be blank!. </span>
                    </div>
                    <div class="form-group">
                        <label for="editEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="editEmail" name="email" required
                               placeholder="Enter email">
                        <span class="invalid-feedback" id="editEmail_error">Email must not be blank! </span>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="editDepartment"> Department </label>
                        <select class="form-select" id="editDepartment" name="editDepartment" required>
                        </select>
                        <span class="invalid-feedback" id="editDepartment_error">Department must be selected!</span>
                    </div>

                    <div class="form-group">

                        <label for="editUserRole" class="form-label">Role</label>
                        <select class="form-select" id="editUserRole" name="editUserRole" required>
                            <option value="PMO" sec:authorize="hasAuthority('PMO')">PMO</option>
                            <option value="SDQC" sec:authorize="hasAuthority('PMO')"> SDQC</option>
                            <option value="DH" sec:authorize="hasAuthority('PMO')">DH</option>
                            <option value="PM" sec:authorize="hasAnyAuthority('PMO','DH')">PM</option>
                            <option value="MEMBER" sec:authorize="hasAnyAuthority('PMO','DH','PM')">Member</option>
                            <!-- Add more role options as needed -->
                        </select>
                        <span class="invalid-feedback" id="editUserRole_error">Role must be selected.</span>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <a class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                       data-bs-dismiss="modal">
                        <i class="bi bi-x-circle"></i>&nbsp;Close
                    </a>
                    <button type="submit" class="btn btn-sm btn-primary rounded"
                            style="margin-right: 15px; padding: 10px 15px">
                        <i class="bi bi-plus-circle"></i>&nbsp;Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Create New User</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
            <form id="addNewMemberForm">
                <div style="align-items: center; padding: 15px">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" required autocomplete="off"
                               placeholder="Enter name">
                        <span class="invalid-feedback" id="name_error">Enter Member Name. </span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" required autocomplete="off"
                               placeholder="Enter email">
                        <span class="invalid-feedback" id="email_error">Email must not be blank.</span>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="department"> Department </label>
                        <select class="form-select" id="department" name="department" required>
                        </select>
                        <span class="invalid-feedback" id="department_error">Department must be selected.</span>
                    </div>
                    <div class="form-group">
                        <label for="newUserRole" class="form-label">Role</label>
                        <select class="form-select" id="newUserRole" name="role" required>
                            <option value="" selected>Select role</option>
                            <option value="PMO" sec:authorize="hasAuthority('PMO')">PMO</option>
                            <option value="SDQC" sec:authorize="hasAuthority('PMO')"> SDQC</option>
                            <option value="DH" sec:authorize="hasAuthority('PMO')">DH</option>
                            <option value="PM" sec:authorize="hasAnyAuthority('PMO','DH')">PM</option>
                            <option value="MEMBER" sec:authorize="hasAnyAuthority('PMO','DH','PM')">Member</option>
                        </select>
                        <span class="invalid-feedback" id="newUserRole_error">Role must be selected.</span>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <a class="btn btn-sm btn-secondary rounded" style="margin-right: 5px; padding: 10px 15px"
                       data-bs-dismiss="modal">
                        <i class="bi bi-x-circle"></i>&nbsp;Close
                    </a>
                    <button type="submit" class="btn btn-sm btn-primary rounded"
                            style="margin-right: 15px; padding: 10px 15px">
                        <i class="bi bi-plus-circle"></i>&nbsp;Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmationMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex align-items-center">
        <div class="modal-content">
            <div class="d-flex">
                <h1 class="modal-title fs-5" style="padding: 15px 15px 0 15px;">Confirmation</h1>
                <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"
                        style="font-size: 25px; margin-left: auto; margin-right: 5px"></button>
            </div>
                <div style="align-items: center; padding: 15px">
                    <div class="mb-2">
                        Are you sure you want to <span id="confirmationMemberAction"></span> this member?
                        <div id="confirmationMemberMessage"></div>
                    </div>
                    <div class="d-flex justify-content-end mb-1">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="margin-right: 5px;">Cancel</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="confirmMemberButton">Confirm
                        </button>
                    </div>
                </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

<script src="/js/validation.js"></script>
<script src="/js/member-list-view.js"></script>

<script src="/js/contract-info.js"></script>
<script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
<script src="/js/notification.js"></script>
<script src="/js/init-notification.js"></script>

<!-- Reusable form validation script -->
<script>
    // Invoke the validation function for different forms
    document.addEventListener('DOMContentLoaded', function () {
        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        checkInputValidation('name', 'Name', null, null);
        checkInputValidation('email', 'Email', emailPattern, null);
        checkInputValidation('department', 'Department', null, null);
        checkInputValidation('newUserRole', 'Role', null, null);

        checkInputValidation('editName', 'Name', null, null);
        checkInputValidation('editEmail', 'Email', emailPattern, null);
        checkInputValidation('editDepartment', 'Department', null, null);
        checkInputValidation('editUserRole', 'Role', null, null);

        $('#addUserModalBtn').on('click', () => {
            console.log('clicked')
            resetInput();
            const myForm = document.getElementById('addNewMemberForm');
            myForm.reset();
            $('#addMemberModal').modal('show');
        });

        formValidate('addNewMemberForm', addNewMember);
        formValidate('addEditMemberForm', editUserRoleAndDepartment);

    });
</script>

</body>
</html>