<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DIR-ACE TECHNOLOGY</title>
  <!-- Favicons -->
  <link th:href="@{/images/DAT.png}" rel="icon">
  <meta content="" name="description"/>
  <meta content="" name="keywords"/>

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect"/>
  <link
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"
  />

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>


  <link
          th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
          rel="stylesheet"
  />
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>


  <!-- Hope Ui Design System Css -->
  <link rel="stylesheet" href="/css/hope-ui.min.css?v=4.0.0">
  <!-- Library / Plugin Css Build -->
  <link rel="stylesheet" href="/css/libs.min.css">

  <!-- Custom Css -->
  <link rel="stylesheet" href="/css/custom.min.css?v=4.0.0">


  <!-- Customizer Css -->
  <link rel="stylesheet" href="/css/customizer.min.css">

  <!-- RTL Css -->
  <link rel="stylesheet" href="/css/rtl.min.css">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet"/>

  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
          integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <style>
    #datepicker1,
    #datepicker {
      display: inline-block;
      padding: 8px;
      font-size: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: none;

    }

    #datepicker2,
    #datepicker {
      display: inline-block;
      padding: 8px;
      font-size: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow:none;

    }
  </style>

</head>

<body>
<!-- ======= Header ======= -->


<main id="main" class="main">
  <!-- Breadcrumb part-->
  <div class="pagetitle">

  </div>
  <!-- End Page Title -->

  <div style="height: 70px;"></div>
  <!-- Main Content -->

  <div class="container-fluid content-inner mt-n5 py-0">
    <div>
      <div class="row">
        <div class="col-md-6" >
          <div class="card shadow-none main-bg">
            <div class="card-body shadow-none">
              <form id="form-wizard1" class="row g-3 needs-validation" novalidate>
                <div class="form-card text-start shadow-none">
                  <div class="row">
                    <div class="col-7 mt-3">
                      <h3 class="mb-4">Login Page</h3>
                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-12">

                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" required minlength="8">
                        <div class="invalid-feedback" id="email_error"></div>
                      </div>

                      <div class="form-group">
                        <label for="newPassword">Password </label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                               required minlength="8">
                        <div class="invalid-feedback" id="newPassword_error">
                        </div>
                      </div>
                    </div>

                  </div>


                  <div class="mb-3">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" name="remember-me" id="remember-me">
                      <label class="form-check-label" for="remember-me">Remember me</label>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end mx-auto">
                    <button type="submit" class="btn col-md-4 btn-lg btn-primary d-flex justify-content-center align-items-center fw-bold">
                      Sign In</button>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- End Main Content-->
</main>
<!-- End #main -->

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>

<script th:src="@{/js/form-wizard.js}"></script>
<script th:src="@{/js/validation.js}"></script>

<script>
  $(document).ready(function () {
    $("#datepicker1").datepicker({
      dateFormat: "dd/mm/yy",
      showOtherMonths: true,
      selectOtherMonths: true,
      changeMonth: true,
      changeYear: true,
    });

    $("#datepicker2").datepicker({
      dateFormat: "dd/mm/yy",
      showOtherMonths: true,
      selectOtherMonths: true,
      changeMonth: true,
      changeYear: true,
    });

    //check name input







    // Initialize form validation
    formValidate("form-wizard1");

  });

</script>
</body>
</html>